<div class="nav-bg">
    <div class="nav-body">
        <div class="nav-title"></div>
        <div class="nav-tools">
            <div class="toole-content">
                <ion-icon name="notifications-outline"></ion-icon>
                <div class="profile-content">
                    <img [src]="( mrbs.account.get().profile_url === 'default.png' ? '../../../assets/images/profile.png' : global.storage.profile(mrbs.account.get().profile_url) )"
                        alt="Profile">
                    <div class="icon-status" [ngClass]="mrbs.socket.status.get()"></div>
                </div>
                <div class="menu-drop">
                    <div class="txt-display" (click)="_menu_account()">
                        <div class="txt-fullname">
                            {{mrbs.account.get().full_name}}
                        </div>
                        <ion-icon name="caret-down-outline"></ion-icon>
                    </div>
                    <ul class="list-menu" [ngClass]="isOpenMenuAccount ? 'on-click':''">
                        <li (click)="global._open_edit_profile()"><ion-icon name="settings-outline"></ion-icon>
                            ข้อมูลผู้ใช้
                        </li>
                        <li (click)="_logout()"><ion-icon name="log-out-outline"></ion-icon>
                            ออกจากระบบ
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>