<li>
    <div class="icon-history"><ion-icon name="custom-picture"></ion-icon></div>
    <div class="view-header">
        <div class="txt-title">การประเมินผลผลิต</div>
        <div class="txt-date">บันทึกเวลา {{jobsInfo.date}}</div>
        <div class="view-seller">
            <div class="txt-title">ชื่อผู้ขาย</div>
            <div class="txt-name">{{jobsInfo.form_data ? jobsInfo.form_data.seller_name : '-'}}</div>
        </div>
    </div>
    <div class="view-use-image">
        <div class="txt-total">{{jobsInfo.count_image || jobsInfo.total_image}}</div>
        <div class="txt-title">Images</div>
    </div>
    <div class="status-process">
        <div class="process-header">
            <div class="txt-title">ระดับ : {{jobsInfo.group_top_bast.name_th}}</div>
            <div class="txt-percen">{{jobsInfo.group_top_bast.score | number : '1.2-2'}}%</div>
        </div>
        <div class="view-process">
            <div class="process-current" [ngStyle]="{'width': jobsInfo.group_top_bast.score + '%'}"></div>
        </div>
    </div>
    <div class="group-btn">
        <a class="btn btn-view-log" [routerLink]="['/dashboard/view/' + jobsInfo._id]">
            <!-- ดูผลลัพธ์ทั้งหมด -->
            ดูผลลัพธ์
        </a>
    </div>
</li>