li {
    display: grid;
    grid-template-columns: 29px 1fr 60px;
    padding: 18px 27px 18px 27px;
    border: 2px solid #E5E5E5;

    @media (min-width: 686px) {
        grid-template-columns: 29px 150px 60px 220px 1fr;
    }

    @media (min-width: 712px) {
        grid-template-columns: 29px 190px 60px 190px 1fr;
    }

    @media (min-width:768px) {
        grid-template-columns: 29px 210px 60px 1fr 0.8fr;
    }

    @media (min-width: 912px) {
        grid-template-columns: 29px 190px 60px 1fr 1fr;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 29px 1fr 65px 1fr 0.8fr;
    }

    .icon-history {
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
            width: 29px;
            height: 32px;
        }
    }

    .view-header {
        padding: 0 17px 0 20px;

        .txt-title {
            font-family: "Prompt-SemiBold";
            color: #4E4E4E;
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .txt-date {
            font-size: 14px;
            color: #707070;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .view-seller {
            display: flex;
            gap: 7px;

            .txt-title,
            .txt-name {
                font-family: 'Prompt-Regular';
                font-size: 14px;
                color: #707070;
            }
        }
    }

    .view-use-image {
        display: flex;
        align-items: center;
        flex-direction: column;

        .txt-total {
            font-family: "Prompt-SemiBold";
            font-size: 18px;
            color: #60B698;
        }

        .txt-title {
            font-size: 18px;
            color: #4E4E4E;
        }
    }

    .status-process {
        display: grid;
        padding: 7px 0;
        grid-area: 2 / 1 / 3 / 4;
        grid-template-columns: 1fr;
        padding-right: unset;

        @media (min-width: 686px) {
            &:nth-child(4) {
                padding: 0 12px;
                grid-template-columns: unset;
                grid-area: unset;
            }
        }

        .process-header {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-family: "Prompt-SemiBold";
            margin-bottom: 7px;

            .txt-title {
                color: #60B698;
            }

            .txt-percen {
                color: #E48E60;
            }
        }

        .view-process {
            position: relative;
            width: 100%;
            height: 18px;
            border-radius: 7px;
            background: #FADECA;

            .process-current {
                position: absolute;
                width: 0px;
                height: 18px;
                left: 0;
                top: 0;
                background: #E48E60;
                border-radius: 7px;
            }
        }
    }

    .group-btn {
        display: grid;
        justify-content: flex-end;
        align-items: center;
        grid-area: 3 / 1 / 4 / 4;
        grid-template-columns: 1fr;
        padding-right: 0;


        // @media (min-width: 686px) {
        //     &:nth-child(5) {
        //         padding-right: 22px;
        //         grid-area: 2 / 1 / 3 / 5;
        //     }
        // }

        @media (min-width: 686px) {
            &:nth-child(5) {
                grid-template-columns: unset;
                grid-area: unset;
                padding-right: unset;
            }
        }

        .btn-view-log {
            cursor: pointer;
            font-family: "Prompt-SemiBold";
            font-size: 14px;
            color: #707070;
            padding: 12px 26px;
            text-decoration: none;
            border: 2px solid #E5E5E5;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;

            @media (min-width: 912px) {
                font-size: 18px;
            }
        }
    }

}