<div class="content-page">
    <app-nav-bar-admin [title]="'Training Model'"></app-nav-bar-admin>
    <div class="body-page">

        <ui-loading-text *ngIf="isLoading"></ui-loading-text>

        <div class="view-tools" *ngIf="!isLoading">
            <ul class="list-tools">
                <li>
                    <div class="header">
                        <div class="txt-title">Model</div>
                        <div class="txt-sub">
                            <div class="icon-info">
                                i
                            </div>
                            ตัวโมเดลที่เลือกจะเป็นตัวที่บริษัทจะใช้เป็นค่าเริ่มต้นในการประเมิน
                        </div>
                    </div>
                    <div class="body-content">
                        <div class="txt-title">กำลังใช้งาน</div>
                        <ion-list>
                            <ion-item>
                                <ion-select label="Outline select" label-placement="floating" fill="outline"
                                    interface="popover" placeholder="Select Model" [(ngModel)]="page.select">
                                    <ion-select-option [value]="_model._id"
                                        *ngFor="let _model of page.model;let i = index;">Model
                                        {{_model.version}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div class="group-btn">
                        <div class="btn btn-update" (click)="_update_select_model()">อัพเดท</div>
                    </div>
                </li>
                <li *ngIf="page.create.total">
                    <div class="header">
                        <div class="txt-title">New Model</div>
                        <div class="txt-sub">
                            <div class="icon-info">
                                i
                            </div>
                            ทำการเทรนโมเดลใหม่
                        </div>
                    </div>
                    <div class="body-content create-tranin">
                        <div class="txt-title">ภาพรอทำการเทรนทั้งหมด</div>
                        <div class="txt-val">{{page.create.total}}</div>
                        <div class="txt-unit-type">รูป</div>
                    </div>
                    <div class="group-btn">
                        <a routerLink="/tranin-model/create" class="btn btn-update">สร้างโมเดลใหม่</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="group-jobs" *ngIf="!isLoading">

            <ul class="group-header">
                <li *ngFor="let _header of page.history">
                    <div class="header">
                        <div class="txt-title">{{_header._id}}</div>
                    </div>
                    <ul class="list-jobs">
                        <card-model *ngFor="let _model of _header.data" [modelInfo]="_model"></card-model>
                    </ul>
                </li>
            </ul>

            <view-empty-data [title]="'ประวัติการเทรนโมเดลว่าง กดปุ่ม สร้างโมเดลใหม่'"
                *ngIf="!isLoading && page.history.length === 0"></view-empty-data>
        </div>

    </div>
</div>