.content-page {
    padding: 125px 22px 0;
    background: #E3E4E3;

    .body-page {
        .view-tools {
            ul.list-tools {
                display: grid;
                grid-template-columns: repeat(2, 289px);
                grid-gap: 21px;
                gap: 21px;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 16px 27px;
                    border-radius: 20px;
                    background: white;

                    .header {
                        display: flex;
                        flex-direction: column;

                        .txt-title {
                            font-size: 14px;
                            color: #707070;
                        }

                        .txt-sub {
                            display: grid;
                            font-size: 14px;
                            min-height: 42px;
                            color: #969595;
                            grid-template-columns: 25px 1fr;

                            .icon-info {
                                display: flex;
                                font-size: 10px;
                                color: #777;
                                width: 18px;
                                height: 18px;
                                border-radius: 50%;
                                background: #E3E4E3;
                                margin-right: 7px;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .body-content {
                        padding: 22px 0;

                        .txt-title,
                        .txt-unit-type {
                            font-size: 14px;
                            color: #707070;
                        }

                        .txt-val {
                            font-family: "Prompt-SemiBold";
                            color: #707070;
                            font-size: 18px;
                        }

                        ion-list {
                            ion-item {
                                --background: #EEE;
                                --border-style: unset;
                                --border-radius: 7px;
                                font-size: 14px;

                                ion-select {
                                    width: 100%;

                                    // .select-icon {
                                    //     .select-icon-inner {
                                    //         width: 14px;
                                    //         height: 14px;
                                    //         color: unset;
                                    //         background-position: center center;
                                    //         background-repeat: no-repeat;
                                    //         background-size: 14px 14px;
                                    //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15'%3E%3Cpath id='Polygon_3' data-name='Polygon 3' d='M6.76,3.071a2,2,0,0,1,3.48,0l5.068,8.943A2,2,0,0,1,13.568,15H3.432a2,2,0,0,1-1.74-2.986Z' transform='translate(17 15) rotate(180)' fill='%2360b698'/%3E%3C/svg%3E%0A");
                                    //     }
                                    // }
                                }
                            }
                        }

                        &.create-tranin {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }
                    }

                    .group-btn {
                        display: grid;
                        grid-template-columns: 1fr;

                        .btn {
                            font-size: 18px;
                            color: white;
                            text-decoration: none;
                            text-align: center;
                            padding: 11px 0;
                            background: #60B698;

                            &:hover {
                                opacity: 0.8;
                            }
                        }

                    }
                }
            }
        }

        .group-jobs {
            padding-top: 35px;

            ul.group-header {
                display: flex;
                padding: 0;
                margin: 0;
                list-style: none;
                flex-direction: column;
                gap: 27px;
                flex-wrap: nowrap;

                li {
                    .header {
                        font-family: "Prompt-SemiBold";
                        font-size: 18px;
                        color: #4E4E4E;
                        margin-bottom: 20px;
                    }

                    ul.list-jobs {
                        display: flex;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        flex-direction: column;
                        gap: 27px;
                        flex-wrap: nowrap;
                    }
                }
            }
        }


    }
}