.ui-profile {
    input.select-file {
        display: none;
    }

    .profile {
        cursor: pointer;
        position: relative;
        width: 65px;
        height: 65px;
        margin: auto auto 21px;
        border: 2px solid #4caf50;
        border-radius: 50%;
        background: #eee;

        .tools {
            position: absolute;
            display: flex;
            width: 21px;
            height: 21px;
            bottom: 0;
            right: 0;

            .btn {
                display: flex;
                width: 21px;
                height: 21px;
                color: white;
                border: 2px solid #4caf50;
                border-radius: 50%;
                background: #4caf50;
                align-items: center;
                justify-content: center;

                ion-icon {
                    width: 19px;
                    height: 19px;
                    font-weight: bolder;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    ion-item-group {
        margin-bottom: 27px;
    }
}

.ui-crop {
    max-height: 80%;
}

.group-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
    gap: 22px;
    margin-top: 10px;

    .btn {
        cursor: pointer;
        text-align: center;
        padding: 7px;
        color: #53535c;
        border-radius: 7px;
        background: #EEE;

        &:hover {
            opacity: 0.5;
        }
    }
}