<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="_cancel()" *ngIf="!init_crop.show_ui">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="init_crop.show_ui">
            <ion-button color="medium" (click)="_cancel_image()">ยกเลิกภาพ</ion-button>
        </ion-buttons>
        <ion-title>ข้อมูลผู้ใช้</ion-title>
        <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="crop.tools.cropImage()"
                *ngIf="init_crop.show_ui">บันทึกภาพ</ion-button>
            <ion-button [strong]="true" [disabled]="(!formCtl.valid && isInputChange)" (click)="_update_profile()"
                *ngIf="isInputChange">Update</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


    <ui-loading-text *ngIf="isLoading"></ui-loading-text>

    <ng-container *ngIf="init_crop.show_ui">
        <image-cropper class="ui-crop" [imageChangedEvent]="init_crop.event" [maintainAspectRatio]="true"
            [aspectRatio]="1" [cropperStaticWidth]="245" [cropperStaticHeight]="245" format="png"
            [cropperMinWidth]="245" [cropperMinHeight]="245" [resizeToWidth]="245" [resizeToHeight]="245"
            [autoCrop]="true" [containWithinAspectRatio]="true" (imageCropped)="crop.imageCropped($event)"
            [backgroundColor]="'#000'" [transform]="init_crop.option.transform"></image-cropper>

        <div class="group-btn">
            <div class="btn btn-zoom-in" (click)="crop.tools.zoomIn()">Zoom In</div>
            <div class="btn btn-zoom-out" (click)="crop.tools.zoomOut()">Zoom Out</div>
            <div class="btn btn-zoom-reset" (click)="crop.tools.resetZoom()">Reset Zoom</div>
        </div>

    </ng-container>

    <div class="ui-profile" *ngIf="!init_crop.show_ui && !isLoading">
        <input type="file" name="myImage" (change)="crop.fileChangeEvent($event)" accept="image/*"
            class="select-file" />
        <div class="profile" (click)="_modalWindowFile()">
            <div class="tools">
                <div class="btn btn-select"><ion-icon name="add-outline"></ion-icon></div>
            </div>
            <img
                [src]="init_crop.res_image || ( account.profile_url === 'default.png' ? '../../../assets/images/profile.png' : global.storage.profile(account.profile_url) )" />
        </div>
        <form [formGroup]="formCtl" novalidate>
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>รายละเอียด</ion-label>
                </ion-item-divider>

                <ion-item counter="true">
                    <ion-label position="floating">Full Name</ion-label>
                    <ion-input maxlength="120" type="text" formControlName="txt_full_name"
                        (ionInput)="_input_update()"></ion-input>
                    <ion-note slot="helper">ชื่อเต็มที่ต้องการ</ion-note>
                    <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
                </ion-item>
            </ion-item-group>
        </form>

        <ion-item-group>
            <ion-item-divider>
                <ion-label>ความปลอดภัย</ion-label>
            </ion-item-divider>

            <ion-item>
                <ion-label>รหัสผ่านผู้ใช้งาน</ion-label>
                <ion-button slot="end" (click)="_update_password()"> เปลี่ยนรหัสผ่าน </ion-button>
            </ion-item>

            <ion-item-divider>
                <ion-label>Package</ion-label>
            </ion-item-divider>

            <ion-item>
                <ion-label>{{account.packageInfo.name}}</ion-label>
                <ion-note slot="helper"> {{account.packageInfo.detail}} </ion-note>
                <ion-note slot="end">
                    {{_size_to_type(account.total_used_storage)}}/{{_size_to_type(account.packageInfo.can_used_storage)}}
                </ion-note>
            </ion-item>
        </ion-item-group>
    </div>


</ion-content>