.content-page {
    padding: 125px 22px 0;
    background: #E3E4E3;

    .body-page {

        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 17px;

            .btn-create {
                text-decoration: none;
                cursor: pointer;
                font-family: "Prompt-SemiBold";
                font-size: 18px;
                color: white;
                padding: 11px 14px;
                background: #60B698;
            }
        }

        .ui-account {
            border-radius: 7px;
            padding: 7px;
            background: white;
            overflow: auto;

            table {
                tbody {
                    tr {
                        td {
                            .group-btn {
                                display: flex;
                                justify-content: center;

                                .btn {
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;

                                    &:hover {
                                        opacity: 0.5;
                                    }

                                    ion-icon {
                                        width: 25px;
                                        height: 25px;
                                        color: #e99e76;
                                        padding: 4px;
                                        border-radius: 50%;
                                        background: rgb(250 222 203);
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}