<div class="content-page">
    <app-nav-bar-admin [title]="'Account'"></app-nav-bar-admin>
    <div class="body-page">

        <div class="box-header" *ngIf="!isLoading">
            <div class="btn btn-create" (click)="_view_create_account()">เพิ่มผู้ใช้</div>
        </div>

        <ui-loading-text *ngIf="isLoading"></ui-loading-text>

        <div class="ui-account" *ngIf="page.account.length">
            <table datatable class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Create</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let _account of page.account;let i = index;">
                        <td>{{_account.index}}</td>
                        <td class="txt-title">{{_account.full_name}}</td>
                        <td class="txt-title">{{_account.email}}</td>
                        <td>{{_account.role}}</td>
                        <td>{{global.date_to_th(_account.create_date)}}</td>
                        <td>
                            <div class="group-btn">
                                <div class="btn btn-edit" (click)="_open_modal(i)">
                                    <ion-icon name="options-outline"></ion-icon>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>