.content-page {
    padding: 125px 22px 0;

    .body-page {
        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .txt-header {
                font-size: 26px;
                color: #707070;
                position: fixed;
                top: 42px;
                left: 34px;
                z-index: 1;

                @media (min-width: 912px) {
                    top: 39px;
                    left: calc(310px + 37px);
                }
            }

        }

        .box-content {

            .form-info {
                position: relative;
                z-index: 0;

                form {
                    ion-item-group {
                        ion-item-divider {
                            font-size: 26px;
                            color: #707070;
                            background: #60b6987d;
                            border-radius: 7px;

                            &.new-line {
                                background: transparent !important;
                                border-radius: 0 !important;
                                height: 20px;
                                border-bottom: 1px solid #707070;
                            }
                        }
                    }
                }

                .group-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding-top: 20px;
                    padding-bottom: 90px;

                    .btn {
                        font-family: "Prompt-SemiBold";
                        font-size: 18px;
                        color: white;
                        padding: 11px 14px;
                        background: #60B698;
                        --background: #60B698;
                        --background-focused: #60B698;
                        --background-hover: #60B698;
                    }
                }

            }

            .ui-upload {
                display: flex;
                max-width: 402px;
                min-height: 595px;
                padding: 12px 7px 10px 7px;
                background: #F5F5F5;
                flex-direction: column;
                flex-wrap: nowrap;

                .ui-tools-bar {
                    display: grid;
                    gap: 12px;
                    grid-template-columns: 1fr 85px;

                    &.process {
                        grid-template-columns: 1fr 150px;
                    }

                    .txt-header {
                        font-size: 18px;
                        color: #707070;
                        padding: 12px;
                        border-radius: 7px;
                        background: white;
                    }

                    .btn-start,
                    .btn-process {
                        cursor: pointer;
                        font-size: 18px;
                        color: #F5F5F5;
                        padding: 12px;
                        text-align: center;
                        background: #60B698;
                        border-radius: 7px;
                    }

                    .btn-process {
                        opacity: 0.8;
                        display: flex;
                        justify-content: center;

                        ion-spinner {
                            width: 26px;
                            height: 26px;
                            margin-right: 7px;
                        }
                    }
                }

                .ui-drop-files {
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 1fr;
                    width: 100%;
                    margin-block: 12px;
                    font-size: 14px;
                    color: #707070;
                    background: #FFFFFF;
                    border: 1px dashed #707070;
                    border-radius: 7px;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .file-drop-content {
                        border: unset;
                        border-radius: unset;
                        height: unset;
                        margin: unset;
                        padding: 33px 0;
                    }

                    .btn-browse {
                        margin-left: 5px;
                        text-decoration: underline;
                        background: transparent;
                    }

                    ion-icon {
                        width: 31px;
                        height: 31px;
                        color: #60B698;
                    }

                    .txt-title {
                        padding-left: 22px;
                    }
                }

                .txt-total {
                    width: 100%;
                    font-size: 14px;
                    text-align: right;
                    color: #A3A3A3;
                }

                .ui-viwe-files {
                    width: 100%;
                    height: 300px;
                    overflow-x: auto;
                    margin-bottom: 7px;

                    ul.imageView {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: grid;
                        gap: 9px;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: 1fr;

                        li {
                            overflow: hidden;
                            position: relative;
                            border-radius: 7px;
                            background: white;

                            .tools {
                                position: absolute;
                                top: 2px;
                                right: 2px;
                                padding: 4px;
                                border-radius: 7px;
                                backdrop-filter: blur(20px);

                                .btn {
                                    cursor: pointer;
                                    display: flex;

                                    ion-icon {
                                        width: 16px;
                                        height: 16px;
                                        color: #000;
                                    }
                                }
                            }

                            .show-image {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .footer {
                    display: flex;
                    padding: 7px 12px;
                    flex-direction: column;
                    background: white;
                    border-radius: 7px;

                    .footer-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .icon-info {
                            display: flex;
                            width: 30px;
                            height: 30px;
                            font-size: 18px;
                            color: white;
                            border-radius: 50%;
                            background: #60B698;
                            justify-content: center;
                            align-items: center;
                        }

                        .txt-title {
                            color: #707070;
                            font-size: 18px;
                            padding-left: 7px;
                        }
                    }

                    ul.info-use {
                        li {
                            color: #4E4E4E;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

    }
}