<div class="content-page">
    <app-nav-bar-user></app-nav-bar-user>
    <div class="body-page">
        <div class="box-header">
            <div class="txt-header">Create</div>
        </div>
        <div class="box-content">
            <div class="form-info" *ngIf="!isUpload">
                <form [formGroup]="formCtl" novalidate>
                    <ion-item-group>
                        <ion-item-divider>
                            <ion-label>รายละเอียด</ion-label>
                        </ion-item-divider>

                        <ion-item counter="true">
                            <ion-label position="floating">รหัสผู้ขาย</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="seller_id"></ion-input>
                            <ion-note slot="helper">รหัสผู้ขาย</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">ชื่อผู้ขาย</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="seller_name"></ion-input>
                            <ion-note slot="helper">ชื่อผู้ขาย</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">แปลงที่</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="plot_id"></ion-input>
                            <ion-note slot="helper">แปลงที่</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item-divider class="new-line"></ion-item-divider>

                        <ion-item counter="true">
                            <ion-label position="floating">ชื่อผู้ขับ</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="driver_name"></ion-input>
                            <ion-note slot="helper">ชื่อผู้ขับ</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">ทะเบียนรถ</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="car_no_id"></ion-input>
                            <ion-note slot="helper">ทะเบียนรถ</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">ผู้ชั่งชื่อ</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="weigher_name"></ion-input>
                            <ion-note slot="helper">ผู้ชั่งชื่อ</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">เจ้าหน้าที่ประเมิน</ion-label>
                            <ion-input maxlength="120" type="text" formControlName="evaluation_officer"></ion-input>
                            <ion-note slot="helper">เจ้าหน้าที่ประเมิน</ion-note>
                            <ion-note slot="error">ไม่สามารถเว้นว่างได้ หรือใส่ -</ion-note>
                        </ion-item>
                    </ion-item-group>
                </form>
                <div class="group-btn">
                    <ion-button class="btn btn-next" [strong]="true" [disabled]="(!formCtl.valid)"
                        (click)="_next_upload()">Next</ion-button>
                </div>
            </div>
            <div class="ui-upload" *ngIf="isUpload">
                <div class="ui-tools-bar" [ngClass]="image_config.isProcess ? 'process':''">
                    <div class="txt-header">รูปภาพทั้งหมด</div>
                    <div class="btn btn-start" (click)="_upload_file()" *ngIf="!image_config.isProcess">START</div>
                    <div class="btn btn-process" *ngIf="image_config.isProcess">
                        <ion-spinner name="crescent"></ion-spinner>
                        Process
                    </div>
                </div>
                <ngx-file-drop class="ui-drop-files" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                    dropZoneClassName="file-drop-content" [directory]="false">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <ion-icon name="image-outline"></ion-icon>
                        <div class="txt-title">ลากเพิ่มรูปใหม่</div>
                        <button type="button" (click)="openFileSelector()"
                            class="btn-browse">หรือคลิกเพิ่มรูปใหม่</button>
                    </ng-template>
                </ngx-file-drop>
                <div class="txt-total">
                    ทั้งหมด {{image_config.images.length}} รูป
                </div>
                <div class="ui-viwe-files">
                    <ul class="imageView">
                        <li *ngFor="let _image of image_config.images; let i = index;">
                            <div class="tools">
                                <div class="btn btn-remove" (click)="_remove_image(i)">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                </div>
                            </div>
                            <div class="show-image">
                                <img [src]="_image.url" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    <div class="footer-header">
                        <div class="icon-info">i</div>
                        <div class="txt-title">ขั้นตอนทำงาน</div>
                    </div>
                    <ul class="info-use">
                        <li>กดเพิ่มรูปภาพหรือลากวางลงในกล่องเพิ่มรูปภาพเมื่อครบตามที่ต้องการ</li>
                        <li>จากนั้นกดปุ่ม START เริ่มทำงาน</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>