<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="_cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>ข้อมูลผู้ใช้</ion-title>
        <ion-buttons slot="end">
            <ion-button [strong]="true"
                [disabled]="(!formCtl.valid && (isCreate && isMatchPass ? false : true)) || (!formCtl.valid && (!isCreate && !isMatchPass ? false : true))"
                (click)="( isCreate ? _create() : _update() )" *ngIf="!isLoading">{{
                isCreate ? 'Create' :
                'Update'}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <form [formGroup]="formCtl" novalidate>
        <ion-item counter="true">
            <ion-label position="floating">Full Name</ion-label>
            <ion-input maxlength="120" type="text" formControlName="txt_full_name"></ion-input>
            <ion-note slot="helper">ชื่อเต็มที่ต้องการ</ion-note>
            <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
        </ion-item>
        <ion-item counter="true" *ngIf="isCreate">
            <ion-label position="floating">Password</ion-label>
            <ion-input maxlength="80" minlength="6" type="password" formControlName="txt_password"></ion-input>
            <ion-note slot="helper">ตั้งรหัสผ่านอย่างน้อย 6 ตัวอักษร</ion-note>
            <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
            <ion-note slot="end" [ngClass]="isMatchPass ? 'txt-match' : 'txt-error'">
                <ng-container *ngIf="isMatchPass">รหัสตรงกันแล้ว</ng-container>
                <ng-container *ngIf="!isMatchPass">รหัสผ่านไม่ตรงกัน</ng-container>
            </ion-note>
        </ion-item>
        <ion-item counter="true" *ngIf="isCreate">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input maxlength="80" minlength="6" type="password" formControlName="txt_confirm_password"></ion-input>
            <ion-note slot="helper">ยืนยันรหัสผ่านอีกครั้ง</ion-note>
            <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
            <ion-note slot="end" [ngClass]="isMatchPass ? 'txt-match' : 'txt-error'">
                <ng-container *ngIf="isMatchPass">รหัสตรงกันแล้ว</ng-container>
                <ng-container *ngIf="!isMatchPass">รหัสผ่านไม่ตรงกัน</ng-container>
            </ion-note>
        </ion-item>
        <ion-item fill="solid">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" email formControlName="txt_email"></ion-input>
            <ion-note slot="helper">อีเมล์สำหรับเข้าสู่ระบบ</ion-note>
            <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Role</ion-label>
            <ion-select placeholder="กำหนดสิทธิผู้ใช้งาน" formControlName="txt_role">
                <ion-select-option value="USER">User</ion-select-option>
                <ion-select-option value="ADMIN">Admin</ion-select-option>
            </ion-select>
            <ion-note slot="helper">กำหนดสิทธิผู้ใช้งานระบบ</ion-note>
            <ion-note slot="error">จำเป็นต้องเลือก</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Active</ion-label>
            <ion-checkbox slot="end" formControlName="isActive"></ion-checkbox>
            <ion-note slot="helper">เปิดเพื่อให้สามารถเข้าสู่ระบบได้</ion-note>
            <ion-note slot="error">ไม่สามารถเว้นว่างได้</ion-note>
        </ion-item>

        <ion-item-group *ngIf="!isCreate">
            <ion-item-divider>
                <ion-label>ความปลอดภัย</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label>รหัสผ่านผู้ใช้งาน</ion-label>
                <ion-button slot="end" (click)="_update_password()"> เปลี่ยนรหัสผ่าน </ion-button>
            </ion-item>
        </ion-item-group>

    </form>

</ion-content>