ion-header {
    padding: 7px;
    border-radius: 7px;

    ion-toolbar {
        --border-width: 0;
        padding: 7px;
    }
}

form {
    .txt-error {
        color: red;
        font-size: 14px;
    }

    .txt-match {
        color: green;
        font-size: 14px;
    }
}