.content-page {
    padding: 125px 22px 0;
    background: #E3E4E3;

    .body-page {

        .view-price-input {
            display: flex;
            grid-gap: 17px;
            gap: 17px;
            flex-direction: column;
            margin-bottom: 27px;

            @media (min-width:686px) {
                align-items: center;
            }

            .txt-title {
                display: flex;
                gap: 17px;
                font-size: 20px;
                color: #707070;
                padding-bottom: 17px;
                justify-content: space-between;

                .btn-reload {
                    cursor: pointer;
                    display: block;
                    height: 28px;
                    white-space: nowrap;
                    font-size: 14px;
                    color: #2196F3;
                    background: white;
                    padding: 4px 7px;
                    border-radius: 7px;
                }
            }

            ul.list-prices {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 17px;
                padding: 0;
                margin: 0;
                list-style: none;

                @media (min-width:412px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (min-width: 686px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (min-width: 912px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (min-width: 1205px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (min-width: 1440px) {
                    grid-template-columns: repeat(4, 230px);
                }

                li {
                    display: flex;
                    border-radius: 17px;
                    background: white;
                    padding: 17px;
                    flex-direction: column;

                    .txt-price-title {
                        color: white;
                        border-radius: 4px;
                        padding: 7px;
                        margin-top: 4px;
                        text-align: center;
                        background: #607D8B;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .price {
                        position: relative;
                        font-size: 26px;
                        display: flex;
                        grid-gap: 7px;
                        gap: 7px;
                        align-items: flex-end;
                        justify-content: center;

                        .btn-edit {
                            cursor: pointer;
                            position: absolute;
                            display: flex;
                            width: 24px;
                            height: 24px;
                            top: -5px;
                            right: -5px;
                            color: #707070;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                color: white;
                                background: #707070;
                                border-radius: 50%;
                            }

                            ion-icon {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .txt-unit {
                            font-size: 12px;
                            color: grey;
                        }
                    }

                }
            }

            .btn-create {
                cursor: pointer;
                font-size: 18px;
                padding: 7px;
                color: #E48E60;
                border-radius: 7px;
                background: #FADECA;
                box-shadow: 1px 1px 4px -3px black;
            }

        }

        .ui-list-price {
            border-radius: 7px;
            padding: 7px;
            background: white;
            overflow: auto;

            table {
                tbody {
                    tr {
                        td {
                            .group-btn {
                                display: flex;
                                justify-content: center;

                                .btn {
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;

                                    &:hover {
                                        opacity: 0.5;
                                    }

                                    ion-icon {
                                        width: 25px;
                                        height: 25px;
                                        color: #e99e76;
                                        padding: 4px;
                                        border-radius: 50%;
                                        background: rgb(250 222 203);
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

    }
}