<div class="content-page">
    <app-nav-bar-admin [title]="'Palm Price'"></app-nav-bar-admin>
    <div class="body-page">

        <ui-loading-text *ngIf="isLoading"></ui-loading-text>

        <div class="view-price-input" *ngIf="!page.isCreate && !isLoading">
            <div class="txt-title">ราคาผลปาล์ม
                <div class="btn btn-reload" (click)="_view_create()">ตรวจสอบราคา</div>
            </div>
        </div>

        <div class="view-price-input" *ngIf="page.isCreate && !isLoading">
            <div class="txt-title">ราคาผลปาล์ม : {{page.input.title}} <div class="btn btn-reload"
                    (click)="_load_price()">โหลดข้อมูลใหม่</div>
            </div>

            <ul class="list-prices">
                <li *ngFor="let _prices of page.input.prices;let i = index;">
                    <div class="price">
                        <div class="btn btn-edit" (click)="_edit_price_palm(i)">
                            <ion-icon name="create-outline"></ion-icon>
                        </div>
                        {{_prices.price | number : '1.2-2'}}
                        <div class="txt-unit">
                            {{_prices.unit}}
                        </div>
                    </div>
                    <div class="txt-price-title">
                        {{_prices.title}}
                    </div>
                </li>
            </ul>
            <div class="btn btn-create" (click)="_create()">บันทึกรายการ</div>

        </div>

        <div class="ui-list-price" *ngIf="!isLoading && page.list.length">
            <table datatable class="row-border hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Avg Price</th>
                        <th>Create</th>
                        <th>Active</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let _price of page.list;let i = index;">
                        <td>{{i+1}}</td>
                        <td class="txt-title">{{_price.title}}</td>
                        <td>{{_price.price_avg.price | number : '1.2-2'}}</td>
                        <td>{{global.date_to_th(_price.create_date)}}</td>
                        <td [ngClass]="_price.isActive?'is-active':'not-active'">{{_price.isActive ? 'เปิด':'ปิด'}}ใช้งาน</td>
                        <td>
                            <div class="group-btn">
                                <div class="btn btn-edit" (click)="_open_alert(i)">
                                    <ion-icon name="options-outline"></ion-icon>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>