<div class="content-page">
    <app-nav-bar-user></app-nav-bar-user>
    <div class="body-page">
        <div class="box-header">
            <div class="txt-header">Package</div>
        </div>
        <div class="box-content">
            <ui-loading-text *ngIf="isLoading"></ui-loading-text>

            <card-package *ngIf="!isLoading" [_packages]="page"></card-package>

        </div>
    </div>
</div>