.content-page {
    padding: 125px 22px 0;

    .body-page {
        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .txt-header {
                font-size: 26px;
                color: #707070;
                position: fixed;
                top: 42px;
                left: 34px;
                z-index: 1;

                @media (min-width: 912px) {
                    top: 39px;
                    left: calc(310px + 37px);
                }
            }

        }

        .box-content {}
    }
}