<ul class="list-package">
    <li *ngFor="let _package of _packages">
        <div class="icon-pk">
            <ion-icon name="cloud-done-outline"></ion-icon>
        </div>
        <div class="txt-name">
            <div class="txt-header">รายละเอียด</div>
            <div class="txt-detail">{{ _package.name }}</div>
        </div>
        <div class="txt-detail">
            <div class="txt-header">รายละเอียด</div>
            <div class="txt-detail">{{ _package.detail }}</div>
        </div>
        <div class="txt-storage">
            <div class="txt-header">ขนาดพื้นที่</div>
            <div class="txt-detail">{{ _size_to_type(_package.can_used_storage) }}</div>
        </div>
        <div class="group-btn">
            <a href="https://lin.ee/rE7TNjZ" target="_blank" class="btn btn-line">
                <div class="icon-img">
                    <img src="../../assets/images/icon-line-400x400.png" alt="">
                </div>
                ติดต่อ : @FL-OPI
            </a>
        </div>
    </li>
</ul>