ul.list-package {
    display: grid;
    grid-gap: 17px;
    gap: 17px;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: 686px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 912px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1205px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }

    li {
        display: flex;
        grid-gap: 17px;
        gap: 17px;
        color: #ff5733;
        border-radius: 17px;
        text-align: center;
        padding: 17px;
        background: #FADECA;
        flex-direction: column;

        .icon-pk {
            ion-icon {
                width: 70px;
                height: 70px;
            }
        }

        .txt-name,
        .txt-detail,
        .txt-storage {
            .txt-header {
                font-size: 14px;
                color: #424242;
            }
        }

        .group-btn {
            .btn {
                cursor: pointer;
                text-shadow: none;
                text-decoration: none;
                font-family: "Prompt-SemiBold";
                font-size: 18px;
                width: 100%;
                border: 0;

                padding: 17.5px 17px;
                color: white;
                background: #60B698;
                box-sizing: border-box;

                &.btn-line {
                    display: flex;
                    padding: 5px 17px;
                    color: white;
                    border-radius: 7px;
                    background: #FF5733;
                    align-items: center;
                    margin-bottom: 17px;
                    justify-content: space-evenly;
                    text-wrap: balance;

                    .icon-img {
                        display: flex;
                        width: 41px;
                        height: 41px;
                        margin-right: 7px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

        }
    }
}