<div class="content-page">
    <app-nav-bar-user></app-nav-bar-user>
    <div class="body-page">
        <div class="box-header">
            <div class="txt-header">History</div>
            <a class="btn btn-create" [routerLink]="['/dashboard/create']">ประเมิลผลผลิตใหม่</a>
        </div>

        <div class="group-jobs">

            <ui-loading-text *ngIf="isLoading"></ui-loading-text>

            <ul class="group-header">
                <li *ngFor="let _header of page">
                    <div class="header">
                        <div class="txt-title">{{_header._id}}</div>
                    </div>
                    <ul class="list-jobs">
                        <card-history *ngFor="let _jobs of _header.jobs" [jobsInfo]="_jobs"></card-history>
                    </ul>
                </li>
            </ul>

            <view-empty-data *ngIf="!isLoading && page.length === 0"></view-empty-data>
        </div>

    </div>
</div>