.content-page {
    padding: 125px 22px 0;

    .body-page {
        padding-bottom: 27px;

        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .txt-header {
                font-size: 26px;
                color: #707070;
                position: fixed;
                top: 42px;
                left: 34px;
                z-index: 1;

                @media (min-width: 912px) {
                    top: 39px;
                    left: calc(310px + 37px);
                }
            }

            .btn-create {
                text-decoration: none;
                cursor: pointer;
                font-family: "Prompt-SemiBold";
                font-size: 18px;
                color: white;
                padding: 11px 14px;
                background: #60B698;
            }
        }

        .group-jobs {
            padding-top: 12px;

            ul.group-header {
                display: flex;
                padding: 0;
                margin: 0;
                list-style: none;
                flex-direction: column;
                gap: 27px;
                flex-wrap: nowrap;

                li {
                    .header {
                        font-family: "Prompt-SemiBold";
                        font-size: 18px;
                        color: #4E4E4E;
                        margin-bottom: 20px;
                    }

                    ul.list-jobs {
                        display: flex;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        flex-direction: column;
                        gap: 27px;
                        flex-wrap: nowrap;
                    }
                }
            }
        }

    }
}