.nav-show-m {
    position: fixed;
    display: flex;
    border-radius: 0 7px 7px 0;
    width: 46px;
    left: 0;
    padding: 7px;
    top: 110px;
    color: #112A46;
    background: #60b6987d;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);

    ion-icon {
        width: 30px;
        height: 30px;
    }
}

.ui-m-hide {
    display: block !important;
    animation-name: show_menu;
    animation-duration: 1s;

    @keyframes show_menu {
        from {
            opacity: 0.5;
        }

        to {
            opacity: 1;
        }
    }
}

.nav-sidebar {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    box-shadow: 1px 1px 2px 0px #4e4e4e2e;

    @media (min-width: 912px) {
        display: block;
        max-width: 310px;
        width: 310px;
    }

    .nav-sidebar-bg-m {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        background: #000000a1;
        z-index: 1;

        @media (min-width: 912px) {
            display: block;
            max-width: 310px;
            width: 310px;
        }
    }

    @media (min-width: 1121px) {
        grid-template-columns: 289px 289px;
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 267px);
    }

    @media (min-width: 1267px) {
        grid-template-columns: 289px 289px 289px;
    }

    @media (min-width: 1517px) {
        grid-template-columns: 267px 267px 267px 267px;
    }

    .nav-body {
        position: relative;
        max-width: 310px;
        width: 310px;
        height: 100%;
        background: white;
        z-index: 2;

        .top-sidebar {
            display: grid;
            grid-template-columns: 30px 1fr 30px;
            gap: 7px;
            padding: 20px 21px;
            font-size: 20px;
            font-family: "Prompt-SemiBold";
            color: #707070;

            @media (min-width: 912px) {
                grid-template-columns: 30px 1fr;
            }

            ion-icon {
                width: 28px;
                height: 28px;
            }

            .btn-close-m {
                display: block;

                @media (min-width: 912px) {
                    display: none;
                }
            }
        }

        ul.menu-sidebar {
            display: grid;
            gap: 17px;
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 7px 0;
                margin-right: 20px;

                a {
                    display: grid;
                    color: #707070;
                    grid-template-columns: 30px 1fr;
                    text-decoration: none;
                    align-items: center;
                    padding: 0 21px;

                    ion-icon {
                        width: 25px;
                        height: 25px;
                    }

                    .txt-title {
                        padding-left: 12px;
                    }
                }

                &.isActive {
                    border-radius: 0 17px 17px 0;
                    background: #FADECA;

                    a {
                        color: #E48E60;
                    }
                }
            }
        }

    }



}