<div class="content-page">
    <app-nav-bar-user></app-nav-bar-user>
    <div class="body-page">
        <div class="box-header">
            <div class="txt-header">Dashboard</div>
            <a class="btn btn-create" [routerLink]="['/dashboard/create']">ประเมิลผลผลิตใหม่</a>
        </div>

        <ui-loading-text *ngIf="isLoading"></ui-loading-text>

        <div class="sum-chart" *ngIf="page.chart.length">
            <div class="txt-header">
                สรุปผล {{page.jobs.length}} รายการ วันที่ {{page.title}}
            </div>
            <div class="view-chart">
                <canvas #canvasViewsRank></canvas>
                <div class="rank-chart">
                    <ul class="group-rank">
                        <li *ngFor="let _group of page.chart;let i = index;" [ngClass]="i == 0 ? 'top-rank':''">
                            <div class="txt-title">{{_group.name_th}}</div>
                            <div class="txt-value">{{_group.percen | number : '1.2-2'}}%</div>
                        </li>
                    </ul>
                    <div class="total-price">
                        <div class="txt-header">ราคารับซื้อทั้งหมด</div>
                        <div class="txt-price">≈ 0 ฿</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="log-to-day" *ngIf="!isLoading && page.jobs.length">
            <div class="txt-header">
                <div class="txt-title">รายการ</div>
                <div class="txt-total">ทั้งหมด {{page.jobs.length}} รายการ</div>
            </div>
            <ul class="list-history">
                <card-history *ngFor="let _jobs of page.jobs" [jobsInfo]="_jobs"></card-history>
            </ul>
        </div>

        <view-empty-data *ngIf="!isLoading && page.jobs.length === 0"></view-empty-data>

    </div>
</div>