.content-page {
    padding: 125px 22px 0;

    .body-page {
        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .txt-header {
                font-size: 26px;
                color: #707070;
                position: fixed;
                top: 42px;
                left: 34px;
                z-index: 1;

                @media (min-width: 912px) {
                    top: 39px;
                    left: calc(310px + 37px);
                }
            }

            .btn-create {
                text-decoration: none;
                cursor: pointer;
                font-family: "Prompt-SemiBold";
                font-size: 18px;
                color: white;
                padding: 11px 14px;
                background: #60B698;
            }
        }

        .sum-chart {
            .txt-header {
                font-size: 24px;
                color: #707070;
            }

            .view-chart {
                display: flex;
                flex-direction: column;

                @media (min-width: 686px) {
                    flex-direction: row;
                }

                canvas {
                    width: 100%;
                    height: 230px;
                    border-radius: 17px;

                    @media (min-width: 686px) {
                        width: 386px;
                    }
                }

                .rank-chart {
                    padding: 7px 0;
                    width: 100%;

                    @media (min-width: 686px) {
                        padding: 0 0 0 22px;
                    }

                    @media (min-width: 900px) {
                        width: 280px;
                        padding: 0 0 0 22px;
                    }

                    ul.group-rank {
                        display: flex;
                        padding: 0;
                        margin: 0;
                        flex-direction: column;

                        li {
                            display: grid;
                            font-size: 14px;
                            color: #707070;
                            grid-template-columns: 120px 1fr;

                            .txt-value {
                                text-align: right;
                                color: #707070;
                            }

                            &.top-rank {
                                margin-bottom: 4px;

                                .txt-value {
                                    font-size: 18px;
                                    color: #60B698;
                                }
                            }
                        }
                    }

                    .total-price {
                        .txt-header {
                            font-family: "Prompt-SemiBold";
                            font-size: 18px;
                            color: #4E4E4E;
                        }

                        .txt-price {
                            font-family: "Prompt-SemiBold";
                            font-size: 18px;
                            text-align: right;
                            color: #60B698;
                        }
                    }

                }

            }
        }

        .log-to-day {
            margin-top: 30px;

            .txt-header {
                font-family: "Prompt-SemiBold";
                color: #4E4E4E;
                font-size: 20px;
                display: flex;
                justify-content: space-between;
            }

            ul.list-history {
                display: flex;
                gap: 27px;
                list-style: none;
                padding: 0;
                margin: 17px 0 0 0;
                flex-direction: column;
            }
        }

    }
}