<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" (click)="_cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>{{name_th}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="_cancel()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ul class="list-images">
        <li *ngFor="let _image of images | slice:pagination.currentPage:pagination.end ;let i = index">
            <div class="ui-card-view">
                <div class="tools">
                    {{( isMode === 'USER' ? _image.score : (_image.tmiMode.confirm_group.score * 100)) | number :
                    '1.2-2'}}%
                    <div class="btn btn-move" (click)="_move_group(i)" *ngIf="isMode === 'ADMIN' && isEdit">
                        <ion-icon name="shuffle-outline"></ion-icon>
                    </div>
                </div>
                <div class="show-image" (click)="_view_image(pagination.currentPage,i)">
                    <img imgShowLoading (load)="null" (error)="null" [src]="global.storage.image(_image.file_name)"
                        alt="">
                </div>
            </div>
        </li>
    </ul>
</ion-content>
<div class="pagination-page">
    <div class="group-btn">
        <div class="btn btn-previous" [ngClass]="this.pagination.pageNum === 1 ? 'hide':''" (click)="_prev_page()">
            <ion-icon name="caret-back-outline"></ion-icon>
        </div>
        <div class="btn btn-next" [ngClass]="this.pagination.pageNum >= pagination.btn ? 'hide':''"
            (click)="_next_page()">
            <ion-icon name="caret-forward-outline"></ion-icon>
        </div>
    </div>
    <div class="select-num">
        <ion-list>
            <ion-item>
                <ion-select placeholder="Select all fruits that apply" [(ngModel)]="pagination.pageNum"
                    (ionChange)="handleChange($event)">
                    <ion-select-option *ngFor="let _btn of counter(pagination.btn);let i = index;"
                        [value]="i+1">{{i+1}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </div>
</div>


<div class="view-image-select" *ngIf="view_image.show">
    <div class="tools">
        <div class="btn close" (click)="_close_image()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </div>
    </div>
    <div class="tools-page">
        <div class="btn btn-prev" (click)="_view_image_page('prev')"><ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div class="btn btn-next" (click)="_view_image_page('next')"><ion-icon
                name="chevron-forward-outline"></ion-icon></div>
    </div>
    <div class="ui-imgage">
        <img [src]="global.storage.image(view_image.image.file_name)" alt="">
    </div>
    <div class="group-detail">
        <div class="model-name">
            <div class="txt-title">Mode version</div>
            <div class="txt-ver">{{( isMode === 'USER' ? view_image.image.tmiModeUse.version :
                view_image.image.tmiModeUse.version)}}</div>
        </div>
        <div class="name-detail">
            <div class="txt-title">{{( isMode === 'USER' ? view_image.image.name_th :
                view_image.image.tmiMode.confirm_group.name_th)}}</div>
            <div class="txt-score">{{( isMode === 'USER' ? view_image.image.score :
                (view_image.image.tmiMode.confirm_group.score * 100)) | number : '1.2-2'}}%</div>
        </div>
        <div class="percen-bar">
            <div class="percen-process-num"
                [ngStyle]="{'width': (isMode === 'USER' ? view_image.image.score : (view_image.image.tmiMode.confirm_group.score * 100)) + '%'}">
            </div>
        </div>
    </div>
</div>