ion-header {
    padding: 7px;
    border-radius: 7px;

    ion-toolbar {
        --border-width: 0;
        padding: 7px;
    }
}

.pagination-page {
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    padding: 7px;

    .group-btn {
        display: flex;
        align-items: center;

        .btn {
            cursor: pointer;
            display: flex;
            height: 100%;
            align-items: center;
            border-radius: 17px;

            &:hover {
                background: #EEE;
            }

            &.hide {
                opacity: 0.3;
            }
        }
    }

    .select-num {
        ion-list {
            border: 1px solid #707070;
            border-radius: 7px;
            --background: #eee;
        }
    }
}

ul.list-images {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 89px);
    grid-gap: 7px;
    gap: 7px;
    list-style: none;
    padding: 7px;
    margin: 0;
    overflow-x: hidden;

    @media (min-width: 412px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    @media (min-width: 686px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 99px);
    }

    @media (min-width: 800px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 7px;
        padding: 17px;
    }

    @media (min-width: 912px) {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(1, 89px);
        gap: 7px;
        padding: 7px;
    }

    @media (min-width: 1280px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(1, 89px);
        grid-gap: 7px;
        gap: 7px;
        padding: 7px;
    }

    li {
        position: relative;
        display: flex;
        overflow: hidden;
        border-radius: 7px;

        .ui-card-view {
            display: block;
            width: 100%;

            .tools {
                position: absolute;
                display: flex;
                font-size: 14px;
                top: 2px;
                right: 2px;
                padding: 4px;
                border-radius: 7px;
                backdrop-filter: blur(20px);
                z-index: 1;

                .btn {
                    cursor: pointer;
                    display: flex;

                    ion-icon {
                        width: 17px;
                        height: 17px;
                        margin-left: 3px;
                        color: white;
                        border-radius: 3px;
                        background: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .show-image {
                display: flex;
                min-height: 89px;
                background: #EEEEEE;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &.last-view-all {
            display: flex;
            padding-left: 11px;
            font-family: "Prompt-SemiBold";
            font-size: 14px;
            color: #969595;
            background: #FFFFFF;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 7px 0px 0px 7px;
            justify-content: center;
            align-items: flex-start;

            @media (min-width: 800px) {
                font-size: 18px;
            }

        }
    }
}

.view-image-select {
    position: absolute;
    user-select: none;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
    z-index: 10;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .tools {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: 50%;
        bottom: 40px;
        background: white;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, 0);
        z-index: 1;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
                width: 40px;
                height: 40px;
                color: crimson;
            }
        }
    }

    .tools-page {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: space-between;

        .btn {
            cursor: pointer;
            display: flex;
            width: 40px;
            height: 60px;
            color: white;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            backdrop-filter: blur(20px);

            &:hover {
                opacity: 0.3;
            }

            ion-icon {
                width: 40px;
                height: 60px;
            }
        }
    }

    .ui-imgage {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 4px;
        }
    }

    .group-detail {
        color: white;
        margin-top: 17px;
        width: 100%;
        max-width: 224px;
        padding: 17px;
        border-radius: 7px;
        backdrop-filter: blur(20px);

        .model-name {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            padding-bottom: 17px;

            .txt-ver {
                text-transform: capitalize;
                background: midnightblue;
                border-radius: 7px;
                text-align: center;
                padding: 0 7px;
            }
        }

        .name-detail {
            display: flex;
            font-size: 16px;
            padding-bottom: 17px;
            justify-content: space-between;

            .txt-score {
                font-family: "Prompt-SemiBold";
            }
        }

        .percen-bar {
            display: block;
            width: 100%;
            height: 10px;
            border-radius: 7px;
            background: #F5F5F5;

            .percen-process-num {
                height: 10px;
                border-radius: 7px;
                background: #60B698;
            }
        }
    }

}