<div class="nav-show-m" *ngIf="!isHideForMobile" (click)="_menu_active()">
    <ion-icon name="reorder-three-outline"></ion-icon>
</div>
<div class="nav-sidebar" [ngClass]="isHideForMobile ? 'ui-m-hide':''">
    <div class="nav-sidebar-bg-m" *ngIf="isHideForMobile" (click)="_menu_active()"></div>
    <div class="nav-body">
        <div class="top-sidebar">
            <ion-icon name="reorder-three-outline"></ion-icon>
            FL-OPI
            <div class="btn btn-close-m" (click)="_menu_active()">
                <ion-icon name="close-circle-outline"></ion-icon>
            </div>
        </div>
        <ul class="menu-sidebar">
            <li *ngFor="let _menu of menu_sidebar" [ngClass]="_menu.isOpen ? 'isActive' : ''" (click)="_menu_check()">
                <a routerLink="{{_menu.page_url}}" (click)="_menu_active()">
                    <ion-icon name="{{_menu.icon_name}}"></ion-icon>
                    <div class="txt-title">{{_menu.title}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>