.pulse-container {
    position: absolute;
    top: 0;
    right: 0;

    .pulse-box {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* pulse in SVG */
    svg.pulse-svg {
        overflow: visible;
    }

    svg.pulse-svg .first-circle,
    svg.pulse-svg .second-circle,
    svg.pulse-svg .third-circle {
        fill: #f00;
        transform: scale(0.5);
        transform-origin: center center;
        animation: pulse-me 3s linear infinite;
    }

    svg.pulse-svg .second-circle {
        animation-delay: 1s;
    }

    svg.pulse-svg .third-circle {
        animation-delay: 2s;
    }

    svg.pulse-svg .fourth-circle {
        transform-origin: center center;
        animation: pulse 5s ease infinite;
        opacity: 1;
    }

    @keyframes pulse-me {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }

        50% {
            opacity: 0.1;
        }

        70% {
            opacity: 0.09;
        }

        100% {
            transform: scale(10);
            opacity: 0;
        }
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: .1;
        }

        100% {
            opacity: 1;
        }
    }
}