<li>
    <div class="icon-history"><ion-icon name="custom-picture"></ion-icon></div>
    <div class="view-header">
        <div class="txt-title">{{ modelInfo.progressInfo.name_th }}</div>
    </div>
    <div class="view-use-image">
        <div class="txt-total">{{modelInfo.count_images}}</div>
        <div class="txt-title">Images</div>
    </div>
    <div class="status-process">
        <div class="process-header">
            <div class="txt-title" *ngIf="modelInfo.progressInfo._id === '04'">{{ modelInfo.version }}</div>
            <div class="txt-title train" *ngIf="modelInfo.progressInfo._id !== '04'">กำลังรอโมเดลใหม่</div>
        </div>
    </div>
    <div class="group-btn">
        <a class="btn btn-view-log" [routerLink]="['/tranin-model/view/' + modelInfo._id]">
            ดูผลลัพธ์ทั้งหมด
        </a>
    </div>
</li>