.nav-bg {
    position: fixed;
    box-shadow: none;
    background: center center/cover rgba(244, 247, 254, 0.2);
    border-color: transparent;
    filter: none;
    backdrop-filter: blur(20px);
    border-radius: 17px;
    border-width: 1.5px;
    border-style: solid;
    display: grid;
    min-height: 75px;
    line-height: 25.6px;
    margin-inline: auto;
    margin-top: 0px;
    padding-bottom: 8px;
    right: 10px;
    padding-top: 8px;
    top: 12px;
    width: calc(100vw - (20px));
    z-index: 1;

    @media (min-width: 912px) {
        width: calc(100vw - (310px + 27px + 17px));
        right: 27px;
    }

    .nav-body {
        display: grid;
        grid-template-columns: 1fr 140px;
        padding: 7.5px 20px;

        @media (min-width: 541px) {
            grid-template-columns: 1fr 288px;
        }

        .nav-title {
            display: flex;
            padding: 17px 27px 15px 0;
            font-size: 18px;
            color: #4E4E4E;
            align-items: flex-end;

            @media (min-width: 912px) {
                font-size: 26px;
            }
        }

        .nav-tools {
            .toole-content {
                position: relative;
                display: grid;
                grid-template-columns: 26px 58px 21px;
                border-radius: 40px;
                background: white;
                align-items: center;
                padding: 6px 14px;
                z-index: 2;
                justify-content: center;

                @media (min-width: 541px) {
                    grid-template-columns: 26px 58px 162px;
                }

                ion-icon {
                    width: 26px;
                    height: 26px;
                }

                .profile-content {
                    position: relative;
                    display: flex;
                    width: 48px;
                    height: 48px;
                    margin-left: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .icon-status {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        bottom: 0;
                        right: 0;
                        border: 2px solid white;
                        border-radius: 50%;
                        background: #EEEEEE;

                        &.ONLINE {
                            background: #4caf50;
                        }

                        &.OFFLINE {
                            background: #ff0000;
                        }
                    }
                }

                .menu-drop {
                    cursor: pointer;
                    position: relative;

                    .txt-display {
                        display: grid;
                        grid-template-columns: 0 21px;
                        align-items: center;
                        text-align: right;

                        @media (min-width: 541px) {
                            grid-template-columns: 1fr 21px;
                        }

                        .txt-fullname {
                            display: none;

                            @media (min-width: 541px) {
                                display: block;
                            }
                        }

                        ion-icon {
                            margin-left: 5px;
                            width: 14px;
                            height: 14px;
                        }
                    }


                    ul.list-menu {
                        display: none;
                        position: absolute;
                        top: 55px;
                        right: 0px;
                        list-style: none;
                        padding: 17px 7px;
                        border-radius: 7px;
                        margin: 0;
                        width: 180px;
                        z-index: 1;
                        background: white;
                        box-shadow: 2px 1px 6px 0px #00000052;

                        &.on-click {
                            display: block !important;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            top: -7px;
                            right: 8px;
                            border-color: transparent;
                            border-style: solid;
                            border-width: 8px;
                            border-top-width: 0;
                            border-bottom-color: white;
                        }

                        li {
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 4px 7px;
                            color: #707070;
                            border-radius: 7px;

                            ion-icon {
                                margin-right: 7px;
                            }

                            &:hover {
                                background: #F5F5F5;
                            }
                        }
                    }

                }

            }

        }

    }
}