<div class="content-page">
    <app-nav-bar-admin [title]="'Dashboard'"></app-nav-bar-admin>
    <div class="body-page">
        <div class="view-server-info">
            <ul class="list-server">
                <li>
                    <div class="box-header">
                        Server
                    </div>
                    <div class="box-body">
                        <meters-canvas *ngIf="mrbs.socket.status_server.get().cpu.percen"
                            [progress]="mrbs.socket.status_server.get().cpu.percen" [lineWidth]="20"
                            [color]="'#60B698'"></meters-canvas>
                    </div>
                    <div class="box-footer">
                        <div class="txt-name">{{mrbs.socket.status_server.get().cpu.name}}</div>
                        <div class="txt-cpu">
                            <div class="txt-title">CPU Uptime:</div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().cpu.uptime}}</div>
                        </div>
                        <div class="txt-core">
                            <div class="txt-title">Active CPU Cores: </div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().cpu.core}}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-header">
                        Server
                    </div>
                    <div class="box-body">
                        <meters-canvas *ngIf="mrbs.socket.status_server.get().ram.percen"
                            [progress]="mrbs.socket.status_server.get().ram.percen" [lineWidth]="20"
                            [color]="'#60B698'"></meters-canvas>
                    </div>
                    <div class="box-footer">
                        <div class="txt-ram">
                            <div class="txt-title">Used Memory:</div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().ram.used.display}}</div>
                        </div>
                        <div class="txt-core">
                            <div class="txt-title">Total Memory:</div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().ram.total.display}}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-header">
                        RabbitMQ Service
                    </div>
                    <div class="box-body">
                        <meters-canvas *ngIf="mrbs.socket.status_server.get().rabbitmq_ram.percen"
                            [progress]="mrbs.socket.status_server.get().rabbitmq_ram.percen" [lineWidth]="20"
                            [title]="'RAM'" [color]="'#60B698'"></meters-canvas>
                    </div>
                    <div class="box-footer">
                        <div class="txt-ram">
                            <div class="txt-title">Used Memory:</div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().rabbitmq_ram.used.display}}</div>
                        </div>
                        <div class="txt-core">
                            <div class="txt-title">Total Memory:</div>
                            <div class="txt-value">{{mrbs.socket.status_server.get().rabbitmq_ram.total.display}}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-header"> </div>
                    <div class="box-body">
                        <div class="icon-storage">
                            <ion-icon name="cloud-done-outline"></ion-icon>
                        </div>
                        <div class="storage-info">
                            <div class="txt-title">Storage</div>
                            <div class="txt-info">พื้นที่เหลือสำหรับใช้งานบนเซิฟเวอร์</div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="box-process-percen">
                            <div class="percen-info">
                                <div class="txt-min">{{mrbs.socket.status_server.get().storage.used.display}}</div>
                                <div class="txt-max">{{mrbs.socket.status_server.get().storage.total.display}}</div>
                            </div>
                            <div class="percen-bar">
                                <div class="percen-process-num"
                                    [ngStyle]="{'width': ((mrbs.socket.status_server.get().storage.used.unit / mrbs.socket.status_server.get().storage.total.unit)*100) + '%'}">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ui-process">
                    <div class="box-header">
                        Process
                    </div>
                    <div class="box-body">
                        <div class="view-socket-process">
                            <ul class="socket">
                                <li class="empty-list" *ngIf="!mrbs.socket.log.admin.get().length">
                                    <ion-icon name="radio-outline"></ion-icon> กำลังรอข้อมูลใหม่...
                                </li>
                                <li *ngFor="let _log of mrbs.socket.log.admin.get();">
                                    <div class="txt-time">{{global.date_to_th(_log.time)}}</div>
                                    <div class="txt-msg">{{_log.msg}}</div>
                                </li>
                                <!-- <li>
                                    <div class="txt-time">14/05/2022 13:14:12</div>
                                    <div class="txt-msg">บริษัท ทดสอบ : กำลังประเมิน ภาพ grgr-re234-3435.jpg (2/2425)
                                        process_id : 11154 , model : v2</div>
                                </li>
                                <li>
                                    <div class="txt-time">14/05/2022 13:34:59</div>
                                    <div class="txt-msg">บริษัท ทดสอบ : ประเมินผล ภาพ grgr-re234-3435.jpg (2/2425)
                                        process_id : 11154 , model : v2 , ผลลัพธ์ Raw :: 95%</div>
                                </li>
                                <li>
                                    <div class="txt-time">14/05/2022 13:34:59</div>
                                    <div class="txt-msg">บริษัท ทดสอบ : ประเมินผล ภาพ grgr-re234-3435.jpg (2/2425)
                                        process_id : 11154 , model : v2 , ผลลัพธ์ Raw :: 95%</div>
                                </li>
                                <li>
                                    <div class="txt-time">14/05/2022 13:34:59</div>
                                    <div class="txt-msg">บริษัท ทดสอบ : ประเมินผล ภาพ grgr-re234-3435.jpg (2/2425)
                                        process_id : 11154 , model : v2 , ผลลัพธ์ Raw :: 95%</div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ui-socket-online">
                    <div class="box-header">
                        Account Online
                    </div>
                    <div class="box-body">
                        <div class="view-online">
                            <ul class="list-user">
                                <li *ngFor="let _log of this.mrbs.socket.online.get().account;"
                                    [ngClass]="_log.isLogOn?'user-online':''">
                                    <div class="profile-img">
                                        <img [src]="( _log.profile_url === 'default.png' ? '../../../assets/images/profile.png' : global.storage.profile(_log.profile_url) )"
                                            alt="Profile">
                                        <div class="status-profile"></div>
                                    </div>
                                    <div class="txt-name">{{_log.full_name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </li>
                <li class="ui-socket-online">
                    <div class="box-header">
                        Service Online
                    </div>
                    <div class="box-body">
                        <div class="view-online">
                            <ul class="list-user">
                                <li *ngFor="let _log of this.mrbs.socket.online.get().bot;"
                                    [ngClass]="_log.isLogOn?'user-online':''">
                                    <div class="profile-img">
                                        <img [src]="( _log.profile_url === 'default.png' ? '../../../assets/images/profile.png' : global.storage.profile(_log.profile_url) )"
                                            alt="Profile">
                                        <div class="status-profile"></div>
                                    </div>
                                    <div class="txt-name">{{_log.full_name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>