.content-page {
    padding: 125px 22px 0;
    background: #E3E4E3;

    .body-page {

        .view-server-info,
        .view-server-socket {
            margin-bottom: 22px;

            ul.list-server {
                display: grid;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 22px;
                grid-template-columns: 1fr;

                @media (min-width: 534px) {
                    grid-template-columns: repeat(2, 237px);
                }

                @media (min-width: 541px) {
                    grid-template-columns: repeat(2, 267px);
                }

                @media (min-width: 686px) {
                    grid-template-columns: repeat(2, 310px);
                }

                @media (min-width: 768px) {
                    grid-template-columns: repeat(2, 350px);
                }

                @media (min-width: 800px) {
                    gap: 17px;
                    grid-template-columns: repeat(3, 242px);
                }

                @media (min-width: 912px) {
                    gap: 22px;
                    grid-template-columns: repeat(2, 267px);
                }

                @media (min-width: 1024px) {
                    grid-template-columns: repeat(2, 317px);
                }

                @media (min-width: 1121px) {
                    grid-template-columns: repeat(2, 289px);
                }

                @media (min-width: 1200px) {
                    grid-template-columns: repeat(3, 267px);
                }

                @media (min-width: 1267px) {
                    grid-template-columns: repeat(3, 289px);
                }

                @media (min-width: 1440px) {
                    grid-template-columns: repeat(3, 344px);
                }

                @media (min-width: 1517px) {
                    grid-template-columns: repeat(4, 267px);
                }

                li {
                    position: relative;
                    font-size: 14px;
                    padding: 0;
                    border-radius: 20px;
                    background: white;


                    @media (min-width: 534px) {
                        &:nth-child(5) {
                            grid-area: 3 / 1 / 4 / 3;
                        }
                    }

                    @media (min-width: 686px) {
                        &:nth-child(5) {
                            grid-area: 3 / 1 / 4 / 3;
                        }
                    }

                    @media (min-width: 800px) {
                        &:nth-child(5) {
                            grid-area: 3 / 4 / 2 / 1;
                        }
                    }

                    @media (min-width: 912px) {
                        &:nth-child(5) {
                            grid-area: 3 / 1 / 4 / 3;
                        }
                    }

                    @media (min-width: 1200px) {
                        &:nth-child(5) {
                            grid-area: 3 / 2 / 1 / 4;
                        }
                    }

                    @media (min-width: 1517px) {
                        &:nth-child(5) {
                            grid-area: 2 / 1 / 3 / 3;
                        }
                    }

                    .box-header {
                        color: #707070;
                        padding: 16px 27px 0 27px;
                    }

                    &:nth-child(4) {
                        .box-body {
                            margin-bottom: 60px;
                        }
                    }

                    .box-body {
                        meters-canvas {
                            display: flex;
                            width: 100%;
                            height: 137px;
                            margin-bottom: 87px;
                            justify-content: center;
                        }

                        .icon-storage {
                            display: flex;
                            width: 60px;
                            height: 60px;
                            margin: 8px auto auto;
                            border-radius: 50%;
                            background: #BAFFE7;
                            align-items: center;
                            justify-content: center;

                            ion-icon {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .storage-info {
                            width: 100%;
                            text-align: center;
                            color: #707070;
                            padding-top: 27px;

                            .txt-title {
                                font-family: "Prompt-SemiBold";
                                font-size: 22px;
                            }

                            .txt-info {
                                font-size: 14px;
                                padding-top: 6px;
                            }
                        }
                    }

                    .box-footer {
                        position: absolute;
                        bottom: 17px;
                        padding: 0 27px;
                        width: 100%;
                        height: 65px;

                        .txt-name {
                            color: #4E4E4E;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .txt-cpu,
                        .txt-core,
                        .txt-ram {
                            display: flex;

                            .txt-title {
                                color: #969595;
                                padding-right: 7px;
                            }

                            .txt-value {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: #4E4E4E;
                            }
                        }

                        .box-process-percen {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            height: 60px;
                            justify-content: flex-end;

                            .percen-info {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                font-size: 14px;
                                color: #969595;

                                .txt-max {
                                    text-align: right;
                                }
                            }

                            .percen-bar {
                                width: 100%;
                                height: 10px;
                                border-radius: 7px;
                                background: #F5F5F5;
                                margin-top: 7px;

                                .percen-process-num {
                                    height: 10px;
                                    border-radius: 7px;
                                    background: #60B698;
                                }
                            }

                        }

                    }

                    &.ui-process,
                    &.ui-socket-online {
                        .box-header {
                            padding-bottom: 10px;
                            border-bottom: 1px solid #E3E4E3;
                        }

                        .box-body {
                            canvas {
                                width: 100%;
                                height: 137px;
                            }

                            .view-socket-process {
                                padding: 0 27px;
                                margin-bottom: 17px;
                                overflow-y: auto;
                                max-height: 300px;

                                @media (min-width: 1200px) {
                                    max-height: 486px;
                                }

                                @media (min-width: 1517px) {
                                    max-height: 450px;
                                }

                                ul.socket {
                                    display: flex;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    flex-direction: column;

                                    li {
                                        font-size: 14px;
                                        padding: 4px 0;

                                        &.empty-list {
                                            display: flex;
                                            color: #707070;
                                            padding: 27px 0;
                                            text-align: center;
                                            align-items: center;
                                            justify-content: center;

                                            ion-icon {
                                                color: #60B698;
                                                width: 25px;
                                                height: 25px;
                                                margin-right: 7px;
                                            }
                                        }

                                        .txt-time {
                                            display: inline-block;
                                            padding: 4px 7px;
                                            min-width: 150px;
                                            border-radius: 7px;
                                            background: #E5E5E5;
                                        }

                                        .txt-msg {
                                            display: initial;
                                            padding-left: 7px;
                                            line-height: 32px;
                                            color: #707070;
                                        }
                                    }
                                }
                            }

                            .view-online {
                                padding: 0 27px;
                                margin-bottom: 17px;
                                overflow-y: auto;
                                max-height: 300px;

                                @media (min-width: 1517px) {
                                    max-height: 450px;
                                }

                                ul.list-user {
                                    display: flex;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    flex-direction: column;

                                    li {
                                        padding: 7px 0;
                                        display: flex;
                                        gap: 7px;
                                        align-items: center;
                                        font-size: 14px;
                                        color: #969595;

                                        .profile-img {
                                            position: relative;
                                            width: 28px;
                                            height: 28px;
                                            overflow: hidden;
                                            flex: none;

                                            img {
                                                border-radius: 50%;
                                                width: 100%;
                                                height: 100%;
                                            }

                                            .status-profile {
                                                position: absolute;
                                                width: 10px;
                                                height: 10px;
                                                bottom: 0;
                                                right: 0;
                                                border: 1px solid #FFFFFF;
                                                border-radius: 50%;
                                                background: #E48E60;
                                            }
                                        }

                                        .txt-name {
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                        }

                                        &.user-online {
                                            .profile-img {
                                                .status-profile {
                                                    background: #60B698;
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}