<div class="box-login">
    <div class="ui-login">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="">
        </div>
        <div class="form-ui">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    ไม่พบ Username หรือ รหัสผ่านผิดพลาด
                </div>
                <div class="group-input">
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                        Username is required!
                    </div>
                    <div class="ui-input">
                        <input type="text" name="username" [(ngModel)]="form.username" required #username="ngModel"
                            placeholder="Username" />
                    </div>
                </div>
                <div class="group-input">
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors['required']">Password is required</div>
                        <div *ngIf="password.errors['minlength']">
                            Password must be at least 6 characters
                        </div>
                    </div>
                    <div class="ui-input">
                        <input type="{{( passHide ? 'password':'text')}}" class="form-control" name="password"
                            [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                            placeholder="Password" />
                        <div class="ui-password-hide" *ngIf="passHide" (click)="_hide_pass()"><ion-icon
                                name="custom-eye-off"></ion-icon> </div>
                        <div class="ui-password-show" *ngIf="!passHide" (click)="_hide_pass()"><ion-icon
                                name="custom-eye-on"></ion-icon></div>
                    </div>
                </div>
                <div class="group-btn">
                    <button type="submit" class="btn btn-login">Login</button>
                    <div class="line-other">
                        <div class="txt-line">
                            OR
                        </div>
                    </div>
                    <a href="https://lin.ee/rE7TNjZ" target="_blank" class="btn btn-line">
                        <div class="icon-img">
                            <img src="../../assets/images/icon-line-400x400.png" alt="">
                        </div>
                        ติดต่อ : @FL-OPI
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>