.box-login {
    position: relative;

    .ui-login {
        max-width: 375px;
        margin: auto;
        transform: translateY(50%);

        @media (max-height:667px) {
            transform: translateY(30px);
            padding: 7px;
        }

        @media (max-height:814px),
        (max-height:822px) {
            transform: translateY(80px);
        }

        // @media (max-height:667px) {
        //     transform: translateY(50%);
        // }


        .logo {
            display: flex;
            justify-content: center;
        }

        .form-ui {
            margin-top: 50px;

            .group-input {
                display: flex;
                margin-bottom: 17px;
                flex-wrap: wrap;

                .alert-danger {
                    font-size: 14px;
                    color: red;
                }

                .ui-input {
                    display: flex;
                    width: 100%;
                    border-radius: 7px;
                    border: 2px solid #60B698;
                    overflow: hidden;

                    input {
                        font-family: 'Prompt-SemiBold';
                        width: 100%;
                        font-size: 18px;
                        padding: 11.5px 17px;
                        border: 0;

                        &::placeholder {
                            font-family: 'Prompt-SemiBold';
                        }
                    }

                    .ui-password-hide,
                    .ui-password-show {
                        cursor: pointer;
                        display: flex;
                        width: 70px;
                        margin: 12px 0;
                        border-radius: 2px;
                        border-left: 3px solid #E5E5E5;
                        align-items: center;
                        justify-content: center;

                        ion-icon {
                            width: 40px;
                            height: 32px;
                            color: #60B698;
                        }
                    }

                }
            }

            .group-btn {
                .btn {
                    cursor: pointer;
                    text-decoration: none;
                    font-family: "Prompt-SemiBold";
                    font-size: 20px;
                    width: 100%;
                    border: 0;
                    padding: 17.5px 17px;
                    color: white;
                    background: #60B698;
                    box-sizing: border-box;

                    &.btn-login {
                        border-radius: 17px;
                    }

                    &.btn-line {
                        display: flex;
                        padding: 5px 17px;
                        color: #60B698;
                        border: 2px solid #60B698;
                        background: transparent;
                        align-items: center;
                        margin-bottom: 17px;

                        .icon-img {
                            display: flex;
                            width: 41px;
                            height: 41px;
                            margin-right: 7px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .line-other {
                    position: relative;
                    width: 100%;
                    height: 1px;
                    margin: 28px 0;
                    background: #707070;

                    .txt-line {
                        position: relative;
                        bottom: calc(28px/2);
                        width: 50px;
                        font-family: "Prompt-SemiBold";
                        font-size: 18px;
                        color: #707070;
                        text-align: center;
                        margin: auto;
                        background: white;
                    }
                }
            }
        }
    }
}