.content-main {
    display: block;
    width: 100%;
    height: 100vh;
    padding-left: 0;
    overflow: auto;

    @media (min-width: 912px) {
        padding-left: 310px;
    }

    &.admin-bg {
        background: #E3E4E3;
    }
}