<div class="content-main admin-bg" *ngIf="mrbs.account.get().role === authService.ROLE_TXT_ADMIN">
    <app-menu-sidebar-admin></app-menu-sidebar-admin>
    <router-outlet></router-outlet>
</div>

<div class="content-main" *ngIf="mrbs.account.get().role === authService.ROLE_TXT_USER">
    <view-log-socket *ngIf="mrbs.socket.status.get() === 'ONLINE'"></view-log-socket>
    <app-menu-sidedar-user></app-menu-sidedar-user>
    <router-outlet></router-outlet>
</div>

<router-outlet *ngIf="mrbs.account.get().role === ''"></router-outlet>