.content-page {
    padding: 125px 22px 0;

    .body-page {
        .box-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .txt-header {
                font-size: 22px;
                color: #707070;
                position: fixed;
                top: 42px;
                left: 34px;
                z-index: 1;

                span.title-header {
                    font-size: 16px;
                }

                @media (min-width: 912px) {
                    top: 39px;
                    left: calc(310px + 37px);
                }
            }

        }

        .box-content {

            .sum-chart {
                .view-chart {

                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;

                    // display: flex;
                    // flex-direction: column;

                    // @media (min-width: 686px) {
                    //     flex-direction: row;
                    // }

                    canvas {
                        width: 100%;
                        height: 230px;
                        border-radius: 17px;
                        grid-area: 2 / 1 / 3 / 2;
                    }

                    .rank-chart,
                    .view-info-form-data {
                        padding: 7px 0;

                        ul.group-rank,
                        ul.group-data {
                            display: flex;
                            padding: 0;
                            margin: 0;
                            flex-direction: column;

                            li {
                                display: grid;
                                font-size: 14px;
                                color: #707070;
                                grid-template-columns: 120px 1fr;

                                .txt-value {
                                    text-align: right;
                                    color: #707070;
                                }

                                &.top-rank {
                                    margin-bottom: 4px;

                                    .txt-value {
                                        font-size: 18px;
                                        color: #60B698;
                                    }
                                }
                            }
                        }

                        .total-price {
                            .txt-header {
                                font-family: "Prompt-SemiBold";
                                font-size: 18px;
                                color: #4E4E4E;
                            }

                            .txt-price {
                                font-family: "Prompt-SemiBold";
                                font-size: 18px;
                                text-align: right;
                                color: #60B698;
                            }

                            .note-price {
                                font-size: 14px;
                                color: #707070;
                            }

                            .btn-price {
                                cursor: pointer;
                                position: relative;
                                display: flex;
                                gap: 7px;
                                margin-top: 7px;
                                padding: 7px;
                                text-align: center;
                                color: #60B698;
                                border: 2px solid #60B698;
                                align-items: center;
                                justify-content: center;

                                &:hover {
                                    opacity: 0.5;
                                }

                            }
                        }

                    }

                    .view-info-form-data {
                        grid-area: 1 / 1 / 2 / 2;
                        padding: 27px 0 7px;

                        .txt-value {
                            border-bottom: 0.3px solid #cdcdcd;
                        }
                    }

                    .rank-chart {
                        grid-area: 3 / 1 / 4 / 2;
                    }

                    @media (min-width: 686px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);

                        .view-info-form-data {
                            grid-area: 1 / 1 / 2 / 3;
                        }

                        canvas {
                            grid-area: 2 / 1 / 3 / 2;
                        }

                        .rank-chart {
                            grid-area: 2 / 2 / 3 / 3;
                        }
                    }

                    @media (min-width: 1205px) {
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 1fr;

                        .view-info-form-data {
                            grid-area: 1 / 1 / 2 / 2;
                            padding: 0 !important;
                        }

                        canvas {
                            grid-area: 1 / 2 / 2 / 3;
                        }

                        .rank-chart {
                            grid-area: 1 / 3 / 2 / 4;
                        }

                    }

                }
            }

            .ui-upload {
                display: flex;
                max-width: 402px;
                min-height: 595px;
                padding: 12px 7px 10px 7px;
                background: #F5F5F5;
                flex-direction: column;
                flex-wrap: nowrap;

                .ui-tools-bar {
                    display: grid;
                    gap: 12px;
                    grid-template-columns: 1fr;

                    &.process {
                        grid-template-columns: 1fr 150px;
                    }

                    .txt-header {
                        font-size: 18px;
                        color: #707070;
                        padding: 12px;
                        border-radius: 7px;
                        background: white;
                    }

                    .btn-start,
                    .btn-process {
                        cursor: pointer;
                        font-size: 18px;
                        color: #F5F5F5;
                        padding: 12px;
                        text-align: center;
                        background: #60B698;
                        border-radius: 7px;
                    }

                    .btn-process {
                        opacity: 0.8;
                        display: flex;
                        justify-content: center;

                        ion-spinner {
                            width: 26px;
                            height: 26px;
                            margin-right: 7px;
                        }
                    }
                }

                .txt-total {
                    width: 100%;
                    font-size: 14px;
                    text-align: right;
                    color: #A3A3A3;
                }

                .ui-viwe-files {
                    width: 100%;
                    height: 350px;
                    overflow-x: auto;
                    margin-bottom: 7px;

                    ul.imageView {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: grid;
                        gap: 9px;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: 1fr;

                        li {
                            overflow: hidden;
                            position: relative;
                            border-radius: 7px;
                            background: white;

                            .tools {
                                position: absolute;
                                top: 2px;
                                right: 2px;
                                padding: 4px;
                                border-radius: 7px;
                                backdrop-filter: blur(20px);

                                .btn {
                                    cursor: pointer;
                                    display: flex;

                                    ion-icon {
                                        width: 16px;
                                        height: 16px;
                                        color: #000;
                                    }
                                }
                            }

                            .show-image {
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .footer {
                    display: flex;
                    padding: 7px 12px;
                    flex-direction: column;
                    background: white;
                    border-radius: 7px;

                    .footer-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .icon-info {
                            display: flex;
                            width: 30px;
                            height: 30px;
                            font-size: 18px;
                            color: white;
                            border-radius: 50%;
                            background: #60B698;
                            justify-content: center;
                            align-items: center;
                        }

                        .txt-title {
                            color: #707070;
                            font-size: 18px;
                            padding-left: 7px;
                        }
                    }

                    ul.info-use {
                        li {
                            color: #4E4E4E;
                            font-size: 14px;
                        }
                    }
                }
            }

            .ui-group-images {
                padding-top: 27px;
                max-width: 538px;

                @media (min-width: 800px) {
                    max-width: 700px;
                    margin: auto;
                }

                @media (min-width: 912px) {
                    margin: unset;
                    max-width: 538px;
                }

                .header {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;


                    .txt-title {
                        font-size: 22px;
                        color: #707070;
                    }

                    .txt-sub {
                        display: flex;
                        gap: 7px;
                        color: #969595;
                        font-size: 14px;

                        .icon-info {
                            display: flex;
                            width: 19px;
                            height: 19px;
                            color: #707070;
                            border-radius: 50%;
                            background: #BAFFE7;
                            align-items: center;
                            justify-content: center;
                        }

                        .txt-sub-title {
                            flex: 1;
                        }
                    }

                    .time-procress {
                        display: flex;

                        .txt-title,
                        .txt-time {
                            color: #60B698;
                            font-size: 14px;

                            &.txt-time {
                                font-weight: 700;
                                padding-left: 7px;
                            }
                        }
                    }
                }

                ul.list-group {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    list-style: none;
                    margin: 27px 0 0;
                    padding: 0;
                    gap: 17px;

                    li {
                        position: relative;
                        display: flex;
                        border-radius: 7px;
                        background: #F5F5F5;
                        flex-direction: column;
                        flex-wrap: nowrap;

                        .group-header {
                            position: relative;
                            display: flex;
                            min-width: 160px;
                            margin: auto;
                            color: white;
                            font-size: 18px;
                            border-radius: 0 0 7px 7px;
                            background: #349AFF;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 1px 5px 10px -2px #0000001f;
                            z-index: 0;

                            .txt-score {
                                font-family: "Prompt-SemiBold";
                            }

                            .txt-title {
                                padding-left: 7px;
                            }
                        }

                        &:nth-child(1) {
                            .group-header {
                                background: #60B698;
                            }
                        }

                        ul.list-images {
                            display: grid;
                            grid-template-columns: repeat(6, 89px);
                            grid-template-rows: repeat(1, 89px);
                            gap: 7px;
                            list-style: none;
                            padding: 7px;
                            margin: 0;
                            overflow-x: auto;

                            @media (min-width: 686px) {
                                overflow-x: hidden;
                            }

                            @media (min-width: 800px) {
                                grid-template-columns: repeat(6, 96px);
                                grid-template-rows: repeat(1, 96px);
                                gap: 27px;
                                padding: 17px;
                            }

                            @media (min-width: 912px) {
                                grid-template-columns: repeat(6, 89px);
                                grid-template-rows: repeat(1, 89px);
                                gap: 7px;
                                padding: 7px;
                            }

                            li {
                                position: relative;
                                display: flex;
                                overflow: hidden;

                                .tools {
                                    position: absolute;
                                    font-size: 14px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 4px 7px;
                                    border-radius: 7px;
                                    backdrop-filter: blur(20px);
                                }

                                .show-image {
                                    min-height: 89px;
                                    background: #EEEEEE;
                                }

                                &.last-view-all {
                                    display: flex;
                                    padding-left: 11px;
                                    font-family: "Prompt-SemiBold";
                                    font-size: 14px;
                                    color: #969595;
                                    background: #FFFFFF;
                                    box-shadow: 0px 3px 6px #00000029;
                                    border-radius: 7px 0px 0px 7px;
                                    justify-content: center;
                                    align-items: flex-start;

                                    @media (min-width: 800px) {
                                        font-size: 18px;
                                    }

                                }
                            }
                        }
                    }
                }

            }

        }
    }
}