<div class="content-page">
    <app-nav-bar-user></app-nav-bar-user>
    <div class="body-page">
        <div class="box-header">
            <div class="txt-header"><span class="title-header">ID</span> : {{page.jobsId}}</div>
        </div>
        <div class="box-content">
            <ui-loading-text *ngIf="isLoading"></ui-loading-text>

            <div class="sum-chart" *ngIf="page.detail.progress === '03'">
                <div class="view-chart">
                    <div class="view-info-form-data">
                        <ul class="group-data">
                            <li>
                                <div class="txt-title">รหัสผู้ขาย</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.seller_id :
                                    '-') }}</div>
                            </li>
                            <li>
                                <div class="txt-title">ชื่อผู้ขาย</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.seller_name :
                                    '-') }}</div>
                            </li>
                            <li>
                                <div class="txt-title">แปลงที่</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.plot_id : '-')
                                    }}</div>
                            </li>
                            <li>
                                <div class="txt-title">ชื่อผู้ขับ</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.driver_name :
                                    '-') }}</div>
                            </li>
                            <li>
                                <div class="txt-title">ทะเบียนรถ</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.car_no_id :
                                    '-') }}</div>
                            </li>
                            <li>
                                <div class="txt-title">ผู้ชั่งชื่อ</div>
                                <div class="txt-value">{{ (page.detail.form_data ? page.detail.form_data.weigher_name :
                                    '-') }}</div>
                            </li>
                            <li>
                                <div class="txt-title">เจ้าหน้าที่ประเมิน</div>
                                <div class="txt-value">{{ (page.detail.form_data ?
                                    page.detail.form_data.evaluation_officer : '-') }}</div>
                            </li>
                        </ul>
                    </div>
                    <canvas #canvasViewsRank></canvas>
                    <div class="rank-chart">
                        <ul class="group-rank">
                            <li *ngFor="let _group of page.detail.group_rank.group_list;let i = index;"
                                [ngClass]="i == 0 ? 'top-rank':''">
                                <div class="txt-title">{{_group.name_th}}</div>
                                <div class="txt-value">{{_group.score | number : '1.2-2'}}%</div>
                            </li>
                        </ul>
                        <div class="total-price"
                            *ngIf="page.detail.group_rank.top_best.price !== -1 && page.detail.group_rank.top_best.weight !== -1">
                            <div class="txt-header">ราคารับซื้อทั้งหมด</div>
                            <div class="txt-price" (click)="_add_weight()"
                                *ngIf="page.detail.group_rank.top_best.price && page.detail.group_rank.top_best.weight">
                                ≈ {{page.detail.group_rank.top_best.price | number : '1.2-2'}} ฿</div>
                            <div class="btn btn-price"
                                *ngIf="!page.detail.group_rank.top_best.price && !page.detail.group_rank.top_best.weight"
                                (click)="_add_weight()">
                                กำหนดน้ำหหนัก
                                <pulse-animation></pulse-animation>
                            </div>
                        </div>
                        <div class="total-price"
                            *ngIf="page.detail.group_rank.top_best.price === -1 && page.detail.group_rank.top_best.weight === -1">
                            <div class="txt-header">ราคารับซื้อทั้งหมด</div>
                            <div class="note-price">ไม่จำเป็นต้องระบุน้ำหนักเนื่องจากไม่มีระดับ สุกมาก , สุก</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-group-images" *ngIf="page.detail.progress === '03'">
                <div class="header">
                    <div class="time-procress" *ngIf="page.detail.progress === '03'">
                        <div class="txt-title">เวลาที่ใช้ในการประมวลผล :</div>
                        <div class="txt-time">{{page.time_process}}</div>
                    </div>
                    <div class="time-procress" *ngIf="page.detail.progress === '03'">
                        <div class="txt-title">โมเดลที่ใช้ :</div>
                        <div class="txt-time">{{page.detail.tmiModeUse.version}}</div>
                    </div>
                    <div class="txt-title">จัดกลุ่มภาพทั้งหมด</div>
                    <div class="txt-sub">
                        <div class="icon-info">i</div>
                        <div class="txt-sub-title">
                            เปรอ์เซ็นต์ ที่แสดงอยู่บนหัวข้อใหญ่จะบอกถึงคะแนนรวมของภาพที่ได้ผลลัพธ์เรียบร้อยแล้ว
                            ส่วนเปอร์เซ็นต์ที่อยู่บนขวาของภาพจะบอกถึงคะแนนที่ดีที่สุดของการประเมิน
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li *ngFor="let _image_group of page.detail.images_group;let iGroup = index;">
                        <div class="group-header">
                            <div class="txt-score">{{_image_group.score | number : '1.2-2'}}%</div>
                            <div class="txt-title">{{_image_group.name_th}}</div>
                        </div>
                        <ul class="list-images">
                            <li *ngFor="let _image of _image_group.images | slice:0: (_image_group.images.length > 7 ? 6 : _image_group.images.length);let i = index"
                                [ngClass]="_image_group.images.length > 6 && (i + 1) === 6 ? 'last-view-all':''"
                                (click)="_open_modal(iGroup)">
                                <div class="ui-card-view" *ngIf="(i + 1) < 6">
                                    <div class="tools">
                                        {{_image.score | number : '1.2-2'}}%
                                    </div>
                                    <div class="show-image">
                                        <img imgShowLoading (load)="null" (error)="null"
                                            [src]="global.storage.image(_image.file_name)" alt="">
                                    </div>
                                </div>
                                <div class="ui-card-view" *ngIf="(i + 1) === 6 && (_image_group.images.length - 6)">
                                    {{_image_group.images.length - 6}}+
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="ui-upload" *ngIf="!isLoading && page.detail.progress !== '03'">
                <div class="ui-tools-bar" [ngClass]="page.detail.progress === '01' ? 'process':''">
                    <div class="txt-header">รูปภาพทั้งหมด</div>
                    <div class="btn btn-process" *ngIf="page.detail.progress === '01'">
                        <ion-spinner name="crescent"></ion-spinner>
                        Process
                    </div>
                </div>
                <div class="txt-total">
                    ทั้งหมด {{page.detail.images.length}} รูป
                </div>
                <div class="ui-viwe-files">
                    <ul class="imageView">
                        <li *ngFor="let _image of page.detail.images;">
                            <div class="show-image">
                                <img [src]="global.storage.image(_image.file_name)" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="footer">
                    <div class="footer-header">
                        <div class="icon-info">i</div>
                        <div class="txt-title">ขั้นตอนทำงาน</div>
                    </div>
                    <ul class="info-use">
                        <li>กดเพิ่มรูปภาพหรือลากวางลงในกล่องเพิ่มรูปภาพเมื่อครบตามที่ต้องการ</li>
                        <li>จากนั้นกดปุ่ม START เริ่มทำงาน</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>