<div class="content-page">
    <app-nav-bar-admin [title]="'Package'"></app-nav-bar-admin>
    <div class="body-page">
 
        <ui-loading-text *ngIf="isLoading"></ui-loading-text>

        <card-package *ngIf="!isLoading" [_packages]="page"></card-package>

    </div>
</div>