.view-logs {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    right: 18px;
    bottom: 88px;
    width: 320px;
    height: 270px;
    padding: 7px;
    border-radius: 17px;
    border: 1px solid #eeeeee;
    background: #ffffffbf;
    box-shadow: 1px 1px 12px -6px black;
    backdrop-filter: blur(20px);
    z-index: 1;

    .header {
        display: grid;
        grid-template-columns: 1fr 30px;
        border-bottom: 1px solid #E3E4E3;
        padding: 0 0 7px;

        .txt-title {
            font-size: 18px;
            color: #4E4E4E;
            padding: 0 7px;
        }

        .btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
                color: #60B698;
                width: 25px;
                height: 25px;
            }
        }
    }

    .ui-logs {
        height: calc(100% - 36px);
        overflow: auto;
        box-sizing: content-box;

        ul.list-logs {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 7px;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-x: auto;

            li {
                font-size: 14px;
                color: #707070;

                .box-msg {
                    border-radius: 7px;
                    padding: 4px;
                    background: #f4f5f8;
                }

                .txt-time {
                    color: #acacac;
                    text-align: right;
                    font-size: 12px;
                    padding: 4px 0;
                }

                &.list-empty {
                    color: #707070;
                    text-align: center;
                    padding: 75px 0 0;
                    background: transparent;

                    ion-icon {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

}

.tools {
    cursor: pointer;
    position: fixed;
    display: flex;
    width: 60px;
    height: 60px;
    right: 18px;
    bottom: 10px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    background: #ffffffbf;
    box-shadow: 1px 1px 12px -6px black;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;

    ion-icon {
        width: 30px;
        height: 30px;
        color: #60B698;
    }

    .num-notify {
        position: absolute;
        top: -2px;
        right: -10px;
        font-size: 14px;
        min-width: 25px;
        height: 20px;
        color: #60B698;
        text-align: center;
        border-radius: 7px;
        background: #bbffe7;
    }
}