<div class="view-logs" *ngIf="isUserAllowed">
    <div class="header">
        <div class="txt-title"> Real time Message</div>
        <div class="btn btn-close" (click)="_open_log()"><ion-icon name="close-circle-outline"></ion-icon></div>
    </div>
    <div class="ui-logs">
        <ul class="list-logs">
            <li *ngFor="let _log_msg of mrbs.socket.log.user.get()">
                <div class="box-msg">
                    {{_log_msg.msg}}
                </div>
                <div class="txt-time">{{_log_msg.time}}</div>
            </li>
            <li *ngIf="mrbs.socket.log.user.get().length === 0" class="list-empty">
                <ion-icon name="radio-outline"></ion-icon>
                <div class="txt-title">ยังไม่มีข้อมูลอัพเดท</div>
            </li>
        </ul>
    </div>
</div>

<div class="tools" (click)="_open_log()">
    <ion-icon name="radio-outline"></ion-icon>
    <div class="num-notify" *ngIf="mrbs.socket.log.user.get().length">{{mrbs.socket.log.user.get().length}}</div>
</div>