ion-icon {
    width: 50px;

    &[name*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        // mask-position   : 0px 2px;
        mask-repeat: no-repeat;
        background-color: currentColor;
        width: 1em;
        height: 1em;
    }

    &[name*="custom-eye-off"] {
        mask-image: url(../assets/icons/eye-off-outline.svg);
    }

    &[name*="custom-eye-on"] {
        mask-image: url(../assets/icons/eye-outline.svg);
    }

    &[name*="custom-picture"] {
        mask-image: url(../assets/icons/picture.svg);
    }

    &[name*="custom-empty-list"] {
        mask-image: url(../assets/icons/empty-list.svg);
    }

}