/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */

.dataTables_scrollHeadInner {
  width: 100% !important;
}

.dataTables_scrollHeadInner > table {
  width: 100% !important;
}

table > tbody > tr > td.txt-title {
  white-space: nowrap;
}
table > tbody > tr > td.is-active {
  color: green;
}
table > tbody > tr > td.not-active {
  color: red;
}
