/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Prompt-Regular';
    src: url('./assets/fonts/Prompt/Prompt-Regular.ttf');
}

@font-face {
    font-family: 'Prompt-SemiBold';
    src: url('./assets/fonts/Prompt/Prompt-SemiBold.ttf');
}

// Custom icon
@import "./theme/custom-model.scss";
@import "./theme/custom-icon.scss";

html,
body {
    font-family: 'Prompt-Regular', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}