<div class="content-page">
    <app-nav-bar-admin [title]="page.isCreate ? 'Training Model' : page.create.modelInfo._id"></app-nav-bar-admin>
    <div class="body-page">

        <div class="box-content">

            <div class="is-page-load" *ngIf="isLoading">
                กำลังโหลดข้อมูลรอสักครู่ <ion-spinner name="crescent"></ion-spinner>
            </div>

            <div class="view-image-group" [ngClass]="!page.isCreate ? 'group-view':''" *ngIf="!isLoading">
                <ul class="list-group">
                    <li *ngFor="let _image_group of page.create.data;let iGroup = index;">
                        <div class="group-header">
                            <div class="txt-title">{{_image_group.name_th}}</div>
                        </div>
                        <ul class="list-images">
                            <li *ngFor="let _image of _image_group.images | slice:0: (_image_group.images.length > 7 ? 6 : _image_group.images.length);let i = index"
                                [ngClass]="_image_group.images.length > 6 && (i + 1) === 6 ? 'last-view-all':''"
                                (click)="_open_modal(iGroup)">
                                <div class="ui-card-view" *ngIf="(i + 1) < 6">
                                    <div class="tools">
                                        {{( _image.tmiMode.confirm_group.score * 100) | number :
                                        '1.2-2'}}%
                                    </div>
                                    <div class="show-image">
                                        <img imgShowLoading (load)="null" (error)="null"
                                            [src]="global.storage.image(_image.file_name)" alt="">
                                    </div>
                                </div>
                                <div class="ui-card-view" *ngIf="(i + 1) === 6 && (_image_group.images.length - 6)">
                                    {{_image_group.images.length - 6}}+
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="view-ctrl-tranin" *ngIf="page.isCreate">
                    <div class="ui-tranin">
                        <div class="header">
                            <div class="txt-title">Training Model</div>
                            <div class="txt-sub">
                                <div class="icon-info">
                                    i
                                </div>
                                ปรับแต่งฐานข้อมูลภาพตามหมวดหมู่เสร็จแล้วให้กดเริ่มงานได้เลย
                            </div>
                        </div>
                        <div class="body-content">

                        </div>
                        <div class="group-btn">
                            <div class="btn btn-start" (click)="_send_data()">เริ่มงาน</div>
                        </div>
                    </div>
                </div>

                <div class="view-res-model" *ngIf="!page.isCreate">
                    <div class="view-class-model">
                        <div class="txt-header">
                            การประเมินความแม่นยำของแบบจำลอง
                        </div>
                        <div class="class-val">
                            <div class="txt-title">RMSE</div>
                            <div class="txt-val">{{page.create.modelInfo.class.rmse | number : '1.2-2'}}</div>
                        </div>
                        <div class="class-val">
                            <div class="txt-title">MAE</div>
                            <div class="txt-val">{{page.create.modelInfo.class.mae | number : '1.2-2'}}</div>
                        </div>
                    </div>
                    <div class="view-image-chart">
                        <div class="chart-val">
                            <div class="txt-title">ACC</div>
                            <div class="txt-image">
                                <img [src]="global.storage.chart(page.create.modelInfo._id,page.create.modelInfo.chart.img_acc)"
                                    alt="">
                            </div>
                        </div>
                        <div class="chart-val">
                            <div class="txt-title">Loss</div>
                            <div class="txt-image">
                                <img [src]="global.storage.chart(page.create.modelInfo._id,page.create.modelInfo.chart.img_lost)"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>