.content-page {
    padding: 125px 22px 0;
    background: #E3E4E3;

    .body-page {
        .box-content {
            .is-page-load {
                padding: 17px;
                text-align: center;
                color: #707070;

                ion-spinner {
                    margin-left: 7px;
                }
            }

            .view-image-group {
                padding-top: 27px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 21px;

                @media (min-width: 534px) {
                    grid-template-columns: 289px 1fr 1fr;
                }

                @media (min-width: 686px) {
                    grid-template-columns: 289px 1fr 1fr;
                }

                @media (min-width: 800px) {
                    grid-template-columns: 289px 1fr 1fr;
                }

                @media (min-width: 1205px) {
                    grid-template-columns: 1fr 289px;
                }

                @media (min-width: 1280px) {
                    grid-template-columns: 612px 289px;
                }

                ul.list-group {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    list-style: none;
                    margin: 0 0;
                    padding: 0;
                    gap: 17px;
                    overflow: hidden;

                    grid-area: 2 / 1;

                    @media (min-width: 534px) {
                        grid-area: 2/4/2/1;
                    }

                    // @media (min-width: 800px) {
                    //     grid-area: 2/4/2/1;
                    // }

                    @media (min-width: 1205px) {
                        grid-area: 1 / 1;
                    }

                    li {
                        position: relative;
                        display: flex;
                        border-radius: 7px;
                        background: #F5F5F5;
                        flex-direction: column;
                        flex-wrap: nowrap;

                        .group-header {
                            position: relative;
                            display: flex;
                            min-width: 160px;
                            margin: auto;
                            color: white;
                            font-size: 18px;
                            border-radius: 0 0 7px 7px;
                            background: #349AFF;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 1px 5px 10px -2px #0000001f;
                            z-index: 0;

                            .txt-score {
                                font-family: "Prompt-SemiBold";
                            }

                            .txt-title {
                                padding-left: 7px;
                            }
                        }

                        ul.list-images {
                            display: grid;
                            grid-template-columns: repeat(6, 79px);
                            grid-template-rows: repeat(1, 79px);
                            gap: 7px;
                            list-style: none;
                            padding: 7px;
                            margin: 0;
                            overflow-x: hidden;

                            @media (min-width: 280px) {
                                overflow-x: auto;
                            }

                            @media (min-width: 534px) {
                                overflow-x: hidden;
                            }

                            @media (min-width: 686px) {
                                grid-template-columns: repeat(6, 96px);
                                grid-template-rows: repeat(1, 96px);
                                gap: 17px;
                                overflow-x: hidden;
                            }

                            @media (min-width: 712px) {
                                grid-template-columns: repeat(6, 96px);
                                grid-template-rows: repeat(1, 96px);
                                gap: 22px;
                                padding: 17px;
                            }

                            @media (min-width: 768px) {
                                grid-template-columns: repeat(6, 100px);
                                grid-template-rows: repeat(1, 100px);
                                gap: 27px;
                            }

                            @media (min-width: 800px) {
                                grid-template-columns: repeat(6, 106px);
                                grid-template-rows: repeat(1, 106px);
                                gap: 27px;
                                padding: 17px;
                            }

                            @media (min-width: 912px) {
                                grid-template-columns: repeat(6, 89px);
                                grid-template-rows: repeat(1, 89px);
                                gap: 7px;
                                padding: 7px;
                            }

                            @media (min-width: 1024px) {
                                grid-template-columns: repeat(6, 99px);
                                grid-template-rows: repeat(1, 99px);
                                gap: 17px;
                            }

                            @media (min-width: 1205px) {
                                grid-template-columns: repeat(6, 82px);
                                grid-template-rows: repeat(1, 82px);
                                gap: 12px;
                            }

                            @media (min-width: 1280px) {
                                grid-template-columns: repeat(6, 89px);
                                grid-template-rows: repeat(1, 89px);
                                gap: 19px;
                            }

                            li {
                                cursor: pointer;
                                position: relative;
                                display: flex;
                                overflow: hidden;

                                .tools {
                                    position: absolute;
                                    font-size: 14px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 4px 7px;
                                    border-radius: 7px;
                                    backdrop-filter: blur(20px);
                                }

                                .show-image {
                                    min-height: 89px;
                                    background: #EEEEEE;
                                }

                                &.last-view-all {
                                    display: flex;
                                    padding-left: 11px;
                                    font-family: "Prompt-SemiBold";
                                    font-size: 14px;
                                    color: #969595;
                                    background: #FFFFFF;
                                    box-shadow: 0px 3px 6px #00000029;
                                    border-radius: 7px 0px 0px 7px;
                                    justify-content: center;
                                    align-items: flex-start;

                                    @media (min-width: 800px) {
                                        font-size: 18px;
                                    }

                                }
                            }
                        }
                    }
                }

                .view-ctrl-tranin {
                    grid-area: 1 / 1;

                    @media (min-width: 1205px) {
                        grid-area: 1 / 2;
                    }

                    .ui-tranin {
                        padding: 16px 27px;
                        border-radius: 20px;
                        background: white;

                        .header {
                            display: flex;
                            flex-direction: column;

                            .txt-title {
                                font-size: 14px;
                                color: #707070;
                            }

                            .txt-sub {
                                display: grid;
                                font-size: 14px;
                                min-height: 42px;
                                color: #969595;
                                grid-template-columns: 25px 1fr;

                                .icon-info {
                                    display: flex;
                                    font-size: 10px;
                                    color: #777;
                                    width: 18px;
                                    height: 18px;
                                    border-radius: 50%;
                                    background: #E3E4E3;
                                    margin-right: 7px;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        .body-content {
                            padding: 22px 0;
                        }

                        .group-btn {
                            display: grid;
                            grid-template-columns: 1fr;

                            .btn {
                                font-size: 18px;
                                color: white;
                                text-decoration: none;
                                text-align: center;
                                padding: 11px 0;
                                background: #60B698;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }

                        }
                    }
                }

                &.group-view {

                    @media (min-width: 1205px) {
                        grid-template-columns: 612px 289px;
                    }

                    // @media (min-width: 1280px) {
                    //     grid-template-columns: 612px 289px;
                    // }

                    ul.list-group {
                        grid-area: 2/1/2/4;

                        @media (min-width: 1205px) {
                            grid-area: 1/1;
                        }
                    }
                }

                .view-res-model {
                    display: grid;
                    gap: 17px;
                    grid-area: 1/4/1/1;

                    @media (min-width: 1205px) {
                        grid-area: 1 / 2;
                    }

                    .view-class-model {
                        .txt-header {
                            font-family: "Prompt-SemiBold";
                            font-size: 16px;
                            color: #4E4E4E;
                        }

                        .class-val {
                            display: grid;
                            font-size: 14px;
                            color: #707070;
                            grid-template-columns: 120px 1fr;
                            padding: 0;
                            margin: 0;

                            .txt-title {}

                            .txt-val {
                                padding-left: 17px;
                                font-size: 18px;
                                color: #60B698;
                            }
                        }
                    }

                    .view-image-chart {
                        display: grid;
                        gap: 17px;
                        grid-template-columns: 1fr 1fr;
                        grid-area: 2/1;

                        @media (min-width: 1205px) {
                            grid-template-columns: 1fr;
                        }

                        .chart-val {
                            display: grid;
                            grid-template-columns: 1fr;


                            .txt-title {
                                padding-block: 7px;
                                font-family: "Prompt-SemiBold";
                                font-size: 16px;
                                color: #4E4E4E;
                                text-align: center;
                            }

                            .txt-image {
                                overflow: hidden;
                                border-radius: 7px;
                            }
                        }
                    }

                }

            }
        }
    }
}