<div class="empty-list">
    <div class="icon-empty">
        <ion-icon name="custom-empty-list"></ion-icon>
    </div>
    <div class="txt-title" *ngIf="!title">
        ประวัติการประเมินผลผลิตว่างเปล่า กดที่ปุ่ม ประเมินผลผลิตใหม่ เพื่อเริ่มใช้งาน
    </div>
    <div class="txt-title" *ngIf="title">
        {{title}}
    </div>
</div>