.empty-list {
    color: #60B698;
    margin-top: 12px;

    .icon-empty {
        width: 160px;
        height: 170px;
        margin: auto;

        ion-icon {
            width: 100%;
            height: 100%;
        }
    }

    .txt-title {
        font-family: "Prompt-SemiBold";
        font-size: 18px;
        text-align: center;
        padding-top: 22px;
    }
}